<div class="gf-form-group">
  <div class="gf-form">
    <label class="gf-form-label query-keyword width-9">服务</label>
    <div class="gf-form-select-wrapper gf-form-select-wrapper--caret-indent">
      <select class="gf-form-input service-dropdown" ng-model="ctrl.annotation.queryType" ng-options="f as f for f in ['Application Insights', 'Azure Monitor', 'Azure Log Analytics']"></select>
    </div>
  </div>
  <div class="gf-form" ng-show="ctrl.annotation.queryType === 'Azure Log Analytics'">
    <label class="gf-form-label query-keyword width-9">订阅</label>
    <div class="gf-form-select-wrapper gf-form-select-wrapper--caret-indent">
      <select class="gf-form-input service-dropdown" ng-model="ctrl.annotation.subscription" ng-options="f.value as f.text for f in ctrl.subscriptions" ng-change="ctrl.onSubscriptionChange()"></select>
    </div>
  </div>
  <div ng-show="ctrl.annotation.queryType === 'Azure Log Analytics'">
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-9">工作空间</label>
        <div class="gf-form-select-wrapper gf-form-select-wrapper--caret-indent">
          <select class="gf-form-input min-width-12" ng-model="ctrl.annotation.workspace" ng-options="f.value as f.text for f in ctrl.workspaces"></select>
        </div>
      </div>
      <div class="gf-form">
        <div class="width-1"></div>
      </div>
      <div class="gf-form">
        <button class="btn btn-primary width-10" ng-click="ctrl.panelCtrl.refresh()">运行</button>
      </div>
      <div class="gf-form">
        <label class="gf-form-label">(运行查询: Shift+Enter, 触发建议: Ctrl+Space)</label>
      </div>
    </div>
    <kusto-editor
        class="gf-form gf-form--grow"
        query="ctrl.annotation.rawQuery"
        variables="ctrl.templateVariables"
        change="ctrl.onLogAnalyticsQueryChange"
        getSchema="ctrl.getAzureLogAnalyticsSchema"
      />
  </div>

  <div class="gf-form-inline" ng-show="ctrl.annotation.queryType !== 'Azure Log Analytics'">
    <div class="gf-form gf-form--grow">
      <label class="gf-form-label">不支持注释 {{ctrl.annotation.queryType}}</label>
    </div>
  </div>

  <div class="gf-form-inline">
    <div class="gf-form">
      <label class="gf-form-label query-keyword" ng-click="ctrl.showHelp = !ctrl.showHelp">
        显示帮助
        <i class="fa fa-caret-down" ng-show="ctrl.showHelp"></i>
        <i class="fa fa-caret-right" ng-hide="ctrl.showHelp"></i>
      </label>
    </div>
  </div>

  <div class="gf-form" ng-show="ctrl.showHelp">
    <pre class="gf-form-pre alert alert-info" ng-show="ctrl.annotation.queryType === 'Azure Log Analytics'"><h6>注释查询格式化</h6>
注释是覆盖在图形顶部的事件。查询每行最多可以有三列，datetime列是必需的。注释呈现占用内存开销很大，因此必须限制返回的行数。

- 具有DATETIME类型的列。
- 带别名的列:  对于注释文本<b>Text</b> or <b>text</b>
- 带别名的列:  对于注释文本<b>Tags</b> or <b>tags</b> 。 这应该返回一个逗号分隔的标记字符串，例如'标记1,标记2'。

宏命令:
    - $__timeFilter() -&gt; TimeGenerated &ge; datetime(2018-06-05T18:09:58.907Z) and TimeGenerated &le; datetime(2018-06-05T20:09:58.907Z)
    - $__timeFilter(datetimeColumn) -&gt;  datetimeColumn  &ge; datetime(2018-06-05T18:09:58.907Z) and datetimeColumn &le; datetime(2018-06-05T20:09:58.907Z)

    或者使用这些只返回值的内置变量构建自己的条件语句:
    - $__timeFrom -&gt;  datetime(2018-06-05T18:09:58.907Z)
    - $__timeTo -&gt; datetime(2018-06-05T20:09:58.907Z)
    - $__interval -&gt; 5m
</pre>
  </div>
</div>
