<div class="gf-form-group">
	<div class="gf-form-inline">
		<div class="gf-form">
			<span class="gf-form-label width-10">模式</span>
			<div class="gf-form-select-wrapper max-width-10">
				<select class="gf-form-input" ng-model="ctrl.panel.mode" ng-options="f for f in ctrl.modes" ng-change="ctrl.refresh()"></select>
			</div>
		</div>
		<div class="gf-form" ng-show="ctrl.panel.mode === 'recently viewed'">
			<span class="gf-form-label">
				<i class="grafana-tip fa fa-question-circle ng-scope" bs-tooltip="'警告：清除浏览器缓存时将清除此列表'" data-original-title="" title=""></i>
			</span>
		</div>
	</div>

	<div class="gf-form-inline" ng-if="ctrl.panel.mode === 'search'">
		<div class="gf-form">
			<span class="gf-form-label width-10">搜索选项</span>
			<span class="gf-form-label">查询</span>

			<input type="text" class="gf-form-input" placeholder="标题查询"
				ng-model="ctrl.panel.query" ng-change="ctrl.refresh()" ng-model-onblur>

		</div>

		<div class="gf-form">
			<span class="gf-form-label">标签</span>

			<bootstrap-tagsinput ng-model="ctrl.panel.tags" tagclass="label label-tag" placeholder="添加标签" on-tags-updated="ctrl.refresh()">
			</bootstrap-tagsinput>
		</div>
	</div>

	<div class="gf-form-inline">
		<div class="gf-form">
			<span class="gf-form-label width-10">数量限制为</span>
			<input class="gf-form-input" type="number" ng-model="ctrl.panel.limit" ng-model-onblur ng-change="ctrl.refresh()">
		</div>
	</div>
</div>
