<div class="gf-form-group">
  <div class="grafana-info-box">
    <h4>Stackdriver 身份验证</h4>
    <p>
      有两种方法可以对Stackdriver插件进行身份验证，一种是上载服务帐户密钥文件，另一种是自动从Google元数据服务器检索凭据。后一个选项仅在GCE虚拟机上运行Grafana时可用。
    </p>

    <h5>上载服务帐户密钥文件</h5>
    <p>
      首先，需要为要显示数据的项目创建一个Google云平台（GCP）服务帐户。Grafana数据源与一个GCP项目集成。如果您想可视化来自多个GCP项目的数据，然后需要为每个GCP项目创建一个数据源。
    </p>
    <p>
      <strong>监视查看器角色</strong>提供Grafana所需的所有权限。需要在GCP上启用以下API，数据源才能工作：
      <a
        class="external-link"
        target="_blank"
        href="https://console.cloud.google.com/apis/library/monitoring.googleapis.com"
        >监控API</a
      >
    </p>

    <h5>GCE默认服务帐户</h5>
    <p>
      如果Grafana在Google计算引擎（GCE）虚拟机上运行，Grafana可以从元数据服务器自动检索默认的项目id和身份验证令牌。要使其正常工作，您需要确保有一个服务帐户设置为虚拟机的默认帐户，并且该服务帐户已被授予对Stackdriver监视API的读取权限。
    </p>

    <p>
      可以找到有关如何创建服务帐户的详细说明
      <a class="external-link" target="_blank" href="http://docs.grafana.org/datasources/stackdriver/">文档中。</a>
    </p>
  </div>
</div>

<div class="gf-form-group">
  <div class="gf-form">
    <h3>身份验证</h3>
    <info-popover mode="header"
      >上载服务帐户密钥文件或粘贴到文件内容中。文件内容将被加密并保存在Grafana数据库中。</info-popover
    >
  </div>

  <div class="gf-form-inline">
    <div class="gf-form max-width-30">
      <span class="gf-form-label width-10">身份验证类型</span>
      <div class="gf-form-select-wrapper max-width-24">
        <select
          class="gf-form-input"
          ng-change="ctrl.gceError = ''"
          ng-model="ctrl.current.jsonData.authenticationType"
          ng-options="f.key as f.value for f in ctrl.authenticationTypes"
        ></select>
      </div>
    </div>
  </div>

  <div
    ng-if="ctrl.current.jsonData.authenticationType === ctrl.defaultAuthenticationType && !ctrl.current.jsonData.clientEmail && !ctrl.inputDataValid"
  >
    <div class="gf-form-group" ng-if="!ctrl.inputDataValid">
      <div class="gf-form">
        <form>
          <dash-upload on-upload="ctrl.onUpload(dash)" btn-text="上载服务帐户密钥文件"></dash-upload>
        </form>
      </div>
    </div>
    <div class="gf-form-group">
      <h5 class="section-heading" ng-if="!ctrl.inputDataValid">或粘贴服务帐户密钥JSON</h5>
      <div class="gf-form" ng-if="!ctrl.inputDataValid">
        <textarea
          rows="10"
          data-share-panel-url=""
          class="gf-form-input"
          ng-model="ctrl.jsonText"
          ng-paste="ctrl.onPasteJwt($event)"
        ></textarea>
      </div>
      <div ng-repeat="valError in ctrl.validationErrors" class="text-error p-l-1">
        <i class="fa fa-warning"></i>
        {{valError}}
      </div>
    </div>
  </div>
</div>

<div
  class="gf-form-group"
  ng-if="ctrl.current.jsonData.authenticationType === ctrl.defaultAuthenticationType && (ctrl.inputDataValid || ctrl.current.jsonData.clientEmail)"
>
  <h6>上载的密钥详细信息</h6>

  <div class="gf-form">
    <span class="gf-form-label width-10">项目</span>
    <input class="gf-form-input width-40" disabled type="text" ng-model="ctrl.current.jsonData.defaultProject" />
  </div>
  <div class="gf-form">
    <span class="gf-form-label width-10">客户电子邮件</span>
    <input class="gf-form-input width-40" disabled type="text" ng-model="ctrl.current.jsonData.clientEmail" />
  </div>
  <div class="gf-form">
    <span class="gf-form-label width-10">令牌URI</span>
    <input class="gf-form-input width-40" disabled type="text" ng-model="ctrl.current.jsonData.tokenUri" />
  </div>
  <div class="gf-form" ng-if="ctrl.current.secureJsonFields.privateKey">
    <span class="gf-form-label width-10">私钥</span>
    <input type="text" class="gf-form-input max-width-12" disabled="disabled" value="configured" />
  </div>

  <div class="gf-form width-18" style="margin-top: 24px;">
    <a class="btn btn-secondary gf-form-btn" href="#" ng-click="ctrl.resetValidationMessages()"
      >重置服务帐户密钥
    </a>
    <info-popover mode="right-normal">
      重置以清除上载的密钥并上载新文件。
    </info-popover>
  </div>
</div>

<p
  class="gf-form-label"
  ng-hide="ctrl.current.secureJsonFields.privateKey || ctrl.current.jsonData.authenticationType !== ctrl.defaultAuthenticationType"
>
  <i class="fa fa-save"></i> 上载文件后不要忘记保存更改。
</p>

<div class="gf-form" ng-if="ctrl.gceError">
  <pre class="gf-form-pre alert alert-error">{{ctrl.gceError}}</pre>
</div>

<p class="gf-form-label" ng-show="ctrl.current.jsonData.authenticationType !== ctrl.defaultAuthenticationType">
  <i class="fa fa-save"></i> 通过单击保存和测试验证GCE默认服务帐户
</p>
