<page-header model="navModel"></page-header>

<div class="page-container page-body">
  <div class="panel-container error-container">
    <div class="error-column graph-box">
      <div class="error-row">
        <div class="error-column error-space-between graph-percentage">
          <p>100%</p>
          <p>80%</p>
          <p>60%</p>
          <p>40%</p>
          <p>20%</p>
          <p>0%</p>
        </div>
        <div class="error-column image-box">
          <img src="public/img/graph404.svg" width="100%">
          <div class="error-row error-space-between">
            <p class="graph-text">那时</p>
            <p class="graph-text">现在</p>
          </div>
        </div>
      </div>
    </div>
    <div class="error-column info-box">
      <div class="error-row current-box">
        <p class="current-text">当前的</p>
      </div>
      <div class="error-row" style="flex: 1">
        <i class="fa fa-minus error-minus"></i>
        <div class="error-column error-space-between error-full-width">
          <div class="error-row error-space-between">
            <p>有可能你在你要找的页面上。</p>
            <p class="left-margin">0%</p>
          </div>
          <div>
            <h3>很抱歉给您带来不便</h3>
            <p>请回到你的
            <a href="{{appSubUrl}}/" class="error-link">主仪表盘</a> 再试一次。</p>
            <p>如果错误仍然存在，请点击
            <a href="https://community.grafana.com" target="_blank" class="error-link">社区网站</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <span class="react-resizable-handle" style="cursor: default"></span>
  </div>
</div>

<footer />
