<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-info-circle"></i>
			<span class="p-l-1">添加警报</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>


	<div class="modal-content">
		<div class="text-center">
			<img src="public/img/alert_howto_new.png"></img>
		</div>
		<p class="p-a-2 text-center offset-lg-1 col-lg-10">
			告警是在任何仪表板图形面板的“告警”选项卡中添加和配置的，允许您使用现有查询生成和可视化告警。
			<br> <br>
			要保留告警规则更改，请记住保存仪表板。
			<br>
			<br>
		</p>
	</div>

</div>

