<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body">

  <div class="grafana-info-box span8">
    Grafana是一个多租户系统，其中大多数可以按组织配置。这些管理页面用于服务器管理，您可以在其中管理组织和所有组织中的所有用户。
  </div>

</div>

<footer />
