<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body">
	<table class="filter-table form-inline">
		<thead>
			<tr>
				<th>名字</th>
				<th>值</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>仪表盘总数</td>
				<td>{{ctrl.stats.dashboards}}</td>
			</tr>
			<tr>
				<td>用户总数</td>
				<td>{{ctrl.stats.users}}</td>
			</tr>
			<tr>
				<td>活跃用户 (观看过去14天)</td>
				<td>{{ctrl.stats.activeUsers}}</td>
			</tr>
			<tr>
				<td>组织总数</td>
				<td>{{ctrl.stats.orgs}}</td>
			</tr>
			<tr>
				<td>数据源总数</td>
				<td>{{ctrl.stats.datasources}}</td>
			</tr>
			<tr>
				<td>播放列表总数</td>
				<td>{{ctrl.stats.playlists}}</td>
			</tr>
			<tr>
				<td>快照总数</td>
				<td>{{ctrl.stats.snapshots}}</td>
			</tr>
			<tr>
				<td>仪表盘标签总数</td>
				<td>{{ctrl.stats.tags}}</td>
			</tr>
			<tr>
				<td>标星仪表盘总数</td>
				<td>{{ctrl.stats.stars}}</td>
			</tr>
      <tr>
				<td>告警总数</td>
				<td>{{ctrl.stats.alerts}}</td>
			</tr>
		</tbody>
	</table>
</div>
