<aside class="dashboard-settings__aside">
  <a href="{{::section.url}}"
     class="dashboard-settings__nav-item"
     ng-class="{active: ctrl.viewId === section.id}"
     ng-repeat="section in ctrl.sections"
     aria-label="{{ctrl.selectors.sectionItems(section.title)}}">
    <i class="{{::section.icon}}"></i>
    {{::section.title}}
  </a>

  <div class="dashboard-settings__aside-actions">
    <div ng-show="ctrl.canSave">
      <save-dashboard-button getDashboard="ctrl.getDashboard" aria-label="Dashboard settings aside actions Save button" />
    </div>
    <div ng-show="ctrl.canSaveAs">
      <save-dashboard-as-button getDashboard="ctrl.getDashboard" aria-label="Dashboard settings aside actions Save as button" variant="'secondary'" useNewForms="true"/>
    </div>
  </div>
</aside>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'settings'">
  <h3 class="dashboard-settings__header">
    常规选择
  </h3>

  <div class="gf-form-group">
    <div class="gf-form">
      <label class="gf-form-label width-7">名字</label>
      <input type="text" class="gf-form-input width-30" ng-model='ctrl.dashboard.title'></input>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-7">描述</label>
      <input type="text" class="gf-form-input width-30" ng-model='ctrl.dashboard.description'></input>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-7">
        标签
        <info-popover mode="right-normal">按回车键添加标记</info-popover>
      </label>
      <bootstrap-tagsinput ng-model="ctrl.dashboard.tags" tagclass="label label-tag" placeholder="add tags">
      </bootstrap-tagsinput>
    </div>
    <folder-picker initial-title="ctrl.dashboard.meta.folderTitle" initial-folder-id="ctrl.dashboard.meta.folderId"
      on-change="ctrl.onFolderChange" enable-create-new="true" is-valid-selection="true" label-class="width-7"
      dashboard-id="ctrl.dashboard.id">
    </folder-picker>
    <gf-form-switch class="gf-form" label="Editable"
      tooltip="Uncheck, then save and reload to disable all dashboard editing" checked="ctrl.dashboard.editable"
      label-class="width-7">
    </gf-form-switch>
  </div>

  <gf-time-picker-settings dashboard="ctrl.dashboard"></gf-time-picker-settings>

  <h5 class="section-heading">面板选项</h5>
  <div class="gf-form">
    <label class="gf-form-label width-11">
      Graph工具提示
      <info-popover mode="right-normal">
        使用快捷方式: CTRL+O or CMD+O在选项之间循环
      </info-popover>
    </label>
    <div class="gf-form-select-wrapper">
      <select ng-model="ctrl.dashboard.graphTooltip" class='gf-form-input'
        ng-options="f.value as f.text for f in [{value: 0, text: 'Default'}, {value: 1, text: 'Shared crosshair'},{value: 2, text: 'Shared Tooltip'}]"></select>
    </div>
  </div>
  <div class="gf-form-button-row">
    <button class="btn btn-danger" ng-click="ctrl.deleteDashboard()" ng-show="ctrl.canDelete"
      aria-label="Dashboard settings page delete dashboard button">
      删除仪表盘
    </button>
  </div>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'annotations'"
  ng-include="'public/app/features/annotations/partials/editor.html'">
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'templating' && ctrl.useAngularTemplating"
  ng-include="'public/app/features/templating/partials/editor.html'">
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'templating' && !ctrl.useAngularTemplating">
  <variable-editor-container />
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'links'">
  <dash-links-editor dashboard="ctrl.dashboard"></dash-links-editor>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'versions'">
  <gf-dashboard-history dashboard="dashboard"></gf-dashboard-history>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'dashboard_json'">
  <h3 class="dashboard-settings__header">JSON模型</h3>
  <div class="dashboard-settings__subheader">
    下面的JSON模型是定义仪表板的数据结构。包括设置、面板设置和布局、查询等。
  </div>

  <div class="gf-form">
    <code-editor content="ctrl.json" data-mode="json" data-max-lines=30></code-editor>
  </div>

  <div class="gf-form-button-row">
    <button class="btn btn-primary" ng-click="ctrl.saveDashboardJson()" ng-show="ctrl.canSave">
      保存更改
    </button>
  </div>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'permissions'">
  <dashboard-permissions ng-if="ctrl.dashboard && !ctrl.hasUnsavedFolderChange" dashboardId="ctrl.dashboard.id"
    backendSrv="ctrl.backendSrv" folder="ctrl.getFolder()" />
  <div ng-if="ctrl.hasUnsavedFolderChange">
    <h5>您已更改文件夹，请保存以查看权限。</h5>
  </div>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === '404'">
  <h3 class="dashboard-settings__header">找不到设置视图</h3>

  <div>
    <h5>找不到“设置”页，或者您没有访问该页的权限</h5>
  </div>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'make_editable'">
  <h3 class="dashboard-settings__header">使可编辑</h3>

  <button class="btn btn-primary" ng-click="ctrl.makeEditable()">
    使可编辑
  </button>
</div>
