<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#000">

    <title>[[.AppTitle]] - 错误</title>

    <base href="[[.AppSubUrl]]/" />

    <link rel="stylesheet" href="public/build/grafana.[[ .Theme ]].<%= webpack.hash %>.css">

    <link rel="icon" type="image/png" href="[[.FavIcon]]">
    <link rel="mask-icon" href="[[.AppleTouchIcon]]" color="#F05A28">

  </head>

  <body class="theme-[[ .Theme ]]">
    <div class="main-view">
      <div class="page-container">
        <div class="page-header">
          <div class="page-header__inner">
            <span class="page-header__logo">
              <i class="page-header__icon fa fa-frown-o"></i>
            </span>
            <div class="page-header__info-block">
              <h1 class="page-header__title">
                <a class="text-link" href="login">[[.AppTitle]]</a><span> / 服务器错误</span><span></span>
              </h1>
              <div class="page-header__sub-title">出了点故障</div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-container page-body ng-scope" style="padding: 2rem">
        <div class="alert">
          <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
          <div class="alert-body">
            <div class="alert-title">[[.Title]]</div>
          </div>
        </div>
        <br />
        [[if .ErrorMsg]]
          <h4 class="page-heading">错误详细信息</h4>
          <div class="alert-text">
            <pre>[[.ErrorMsg]]</pre>
          </div>
        [[end]]
        <div style="padding: 2rem 0 0">
          <p>检查 [[.AppTitle]] 服务器日志中的详细错误消息</p>
        </div>
      </div>
    </div>
  </body>
</html>
