<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">Y 轴</h5>
    <div class="gf-form">
      <label class="gf-form-label width-8">单位</label>
      <div class="gf-form-dropdown-typeahead width-12"
           ng-model="ctrl.panel.yAxis.format"
           dropdown-typeahead2="editor.unitFormats"
           dropdown-typeahead-on-select="editor.setUnitFormat($subItem)">
      </div>
    </div>
    <div ng-if="ctrl.panel.dataFormat == 'timeseries'">
      <div class="gf-form">
        <label class="gf-form-label width-8">规模</label>
        <div class="gf-form-select-wrapper width-12">
          <select class="gf-form-input" ng-model="ctrl.panel.yAxis.logBase" ng-options="v as k for (k, v) in editor.logScales" ng-change="ctrl.refresh()"></select>
        </div>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-8">Y-最小值</label>
        <input type="text" class="gf-form-input width-12" placeholder="auto" empty-to-null ng-model="ctrl.panel.yAxis.min" ng-change="ctrl.render()" ng-model-onblur>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-8">Y-最大值</label>
        <input type="text" class="gf-form-input width-12" placeholder="auto" empty-to-null ng-model="ctrl.panel.yAxis.max" ng-change="ctrl.render()" ng-model-onblur>
      </div>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-8">小数位</label>
      <input type="number" class="gf-form-input width-12" placeholder="auto" data-placement="right"
      bs-tooltip="'Override automatic decimal precision for axis.'"
      ng-model="ctrl.panel.yAxis.decimals" ng-change="ctrl.render()" ng-model-onblur>
    </div>
    <div class="gf-form" ng-if="ctrl.panel.dataFormat == 'tsbuckets'">
      <label class="gf-form-label width-8">桶约束</label>
      <div class="gf-form-select-wrapper max-width-12">
        <select class="gf-form-input"
          ng-model="ctrl.panel.yBucketBound" ng-options="v as k for (k, v) in editor.yBucketBoundModes" ng-change="ctrl.render()"
          data-placement="right" bs-tooltip="'使用序列标签作为上限或下限桶约束。'">
        </select>
      </div>
    </div>
    <gf-form-switch ng-if="ctrl.panel.dataFormat == 'tsbuckets'"
      class="gf-form" label-class="width-8"
      label="倒序"
      checked="ctrl.panel.reverseYBuckets" on-change="ctrl.refresh()">
    </gf-form-switch>
  </div>

  <div class="section gf-form-group" ng-if="ctrl.panel.dataFormat == 'timeseries'">
    <h5 class="section-heading">桶</h5>
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label width-5">Y 轴</label>
      </div>
      <div class="gf-form" ng-show="ctrl.panel.yAxis.logBase === 1">
        <label class="gf-form-label width-5">桶</label>
        <input type="number" class="gf-form-input width-5" placeholder="自动" data-placement="right"
                                                                              bs-tooltip="'Y轴的桶数'"
                                                                              ng-model="ctrl.panel.yBucketNumber" ng-change="ctrl.refresh()" ng-model-onblur>
      </div>
      <div class="gf-form" ng-show="ctrl.panel.yAxis.logBase === 1">
        <label class="gf-form-label width-4">大小</label>
        <input type="number" class="gf-form-input width-5" placeholder="自动" data-placement="right"
                                                                              bs-tooltip="'桶的大小，具有优先于存储桶选项。'"
                                                                              ng-model="ctrl.panel.yBucketSize" ng-change="ctrl.refresh()" ng-model-onblur>
      </div>
      <div class="gf-form" ng-show="ctrl.panel.yAxis.logBase !== 1">
        <label class="gf-form-label width-10">分割因子</label>
        <input type="number"
               class="gf-form-input width-9"
               placeholder="1"
               data-placement="right"
               bs-tooltip="'仅用于日志级别。默认情况下，Y值被对数基的整数幂除（1、2、4、8、16，… for log2）。此选项允许将每个默认bucket拆分为指定数量的bucket。'"
               ng-model="ctrl.panel.yAxis.splitFactor" ng-change="ctrl.refresh()" ng-model-onblur>
        </input>
      </div>
    </div>
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label width-5">X轴</label>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-5">桶</label>
        <input type="number" class="gf-form-input width-5" placeholder="auto" data-placement="right"
                                                                              bs-tooltip="'X轴的桶数目'"
                                                                              ng-model="ctrl.panel.xBucketNumber" ng-change="ctrl.refresh()" ng-model-onblur>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-4">大小</label>
        <input type="text" class="gf-form-input width-5" placeholder="auto" data-placement="right"
                                                                            bs-tooltip="'桶的大小。 数量或间隔 (10s, 5m, 1h, 等)。 支持的间隔: ms, s, m, h, d, w, M, y。具有优先于存储桶选项。'"
                                                                            ng-model="ctrl.panel.xBucketSize" ng-change="ctrl.refresh()" ng-model-onblur>
      </div>
    </div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">数据格式</h5>
    <div class="gf-form">
      <label class="gf-form-label width-5">格式</label>
      <div class="gf-form-select-wrapper max-width-15">
        <select class="gf-form-input" ng-model="ctrl.panel.dataFormat" ng-options="v as k for (k, v) in editor.dataFormats" ng-change="ctrl.render()"
          data-placement="right" bs-tooltip="'时间序列：从常规时间序列创建热力图。<br>时序桶：使用数据源返回的直方图数据。每个系列代表桶，桶的上/下限是一个序列标签。'">
        </select>
      </div>
    </div>
  </div>
</div>
