<div class="modal-body">
  <div class="modal-header">
    <h2 class="modal-header-title">
      导出CSV
    </h2>

    <a class="modal-header-close" ng-click="ctrl.dismiss();">
      <i class="fa fa-remove"></i>
    </a>
  </div>

  <div class="modal-content">
    <div class="p-t-2">
      <div class="gf-form" ng-hide="ctrl.panel === 'table'">
        <label class="gf-form-label width-10">模式</label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input" ng-model="ctrl.asRows" ng-options="f.value as f.text for f in [{text: 'Series as rows', value: true}, {text: 'Series as columns', value: false}]">
          </select>
        </div>
      </div>
      <div class="gf-form" ng-hide="ctrl.panel === 'table'">
        <label class="gf-form-label width-10">日期时间格式化</label>
        <input type="text" class="gf-form-input" ng-model="ctrl.dateTimeFormat">
      </div>
      <gf-form-switch class="gf-form"
        label="Excel CSV Dialect" label-class="width-10" switch-class="max-width-6"
        checked="ctrl.excel">
      </gf-form-switch>
    </div>

    <div class="gf-form-button-row text-center">
      <a class="btn btn-primary" ng-click="ctrl.export();">导出</a>
      <a class="btn-text" ng-click="ctrl.dismiss();">取消</a>
    </div>
  </div>
</div>
