<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body">
   <table class="filter-table">
    <thead>
      <th><strong>名字</strong></th>
      <th><strong>快照url</strong></th>
      <th style="width: 70px"></th>
      <th style="width: 30px"></th>
      <th style="width: 25px"></th>
		</thead>
		<tr ng-repeat="snapshot in ctrl.snapshots">
      <td>
        <a href="{{snapshot.url}}">{{snapshot.name}}</a>
      </td>
      <td >
        <a href="{{snapshot.url}}">{{snapshot.url}}</a>
      </td>
      <td>
        <span class="query-keyword" ng-if="snapshot.external">外部</span>
      </td>
      <td class="text-center">
        <a href="{{snapshot.url}}" class="btn btn-inverse btn-small">
          <i class="gicon gicon-viewer"></i>
          查看
        </a>
      </td>
      <td  class="text-right">
        <a ng-click="ctrl.removeSnapshot(snapshot)" class="btn btn-danger btn-small">
          <i class="fa fa-remove"></i>
        </a>
      </td>
    </tr>
  </table>

</div>

<footer />
