<div class="gf-form-group">
  <div class="gf-form">
    <span class="gf-form-label width-13">OpenTSDB衡量指标查询</span>
    <input type="text" class="gf-form-input" ng-model='ctrl.annotation.target' placeholder="events.eventname"></input>
  </div>
  <gf-form-switch class="gf-form" label="Show Global Annotations?" checked="ctrl.annotation.isGlobal" switch-class="max-width-6" label-class="width-13"></gf-form-switch>
</div>
