<div ng-controller="VariableEditorCtrl" ng-init="init()">
  <div class="page-action-bar">
    <h3 class="dashboard-settings__header">
      <a ng-click="setMode('list')" aria-label="{{::selectors.headerLink}}">变量</a>
      <span ng-show="mode === 'new'"
        ><i class="fa fa-fw fa-chevron-right" aria-label="{{::selectors.modeLabelNew}}"></i> 创建</span
      >
      <span ng-show="mode === 'edit'"
        ><i class="fa fa-fw fa-chevron-right" aria-label="{{::selectors.modeLabelEdit}}"></i> 编辑</span
      >
    </h3>

    <div class="page-action-bar__spacer"></div>
    <a
      type="button"
      class="btn btn-primary"
      ng-click="setMode('new');"
      ng-if="variables.length > 0"
      ng-hide="mode === 'edit' || mode === 'new'"
      aria-label="{{::selectors.newButton}}"
    >
      创建
    </a>
  </div>

  <div ng-if="mode === 'list'">
    <div ng-if="variables.length === 0">
      <empty-list-cta
        on-click="setNewMode"
        title="emptyListCta.title"
        infoBox="emptyListCta.infoBox"
        infoBoxTitle="emptyListCta.infoBoxTitle"
        buttonTitle="emptyListCta.buttonTitle"
        buttonIcon="emptyListCta.buttonIcon"
      />
    </div>

    <div ng-if="variables.length">
      <table class="filter-table filter-table--hover" aria-label="{{::selectors.table}}">
        <thead>
          <tr>
            <th>变量</th>
            <th>定义</th>
            <th colspan="5"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="variable in variables">
            <td style="width: 1%">
              <span
                ng-click="edit(variable)"
                class="pointer template-variable"
                aria-label="{{::selectors.tableRowNameFields(variable.name)}}"
              >
                ${{ variable.name }}
              </span>
            </td>
            <td
              style="max-width: 200px;"
              ng-click="edit(variable)"
              class="pointer max-width"
              aria-label="{{::selectors.tableRowDefinitionFields(variable.name)}}"
            >
              {{ variable.definition ? variable.definition : variable.query }}
            </td>
            <td style="width: 1%">
              <i
                ng-click="_.move(variables,$index,$index-1)"
                ng-hide="$first"
                class="pointer fa fa-arrow-up"
                aria-label="{{::selectors.tableRowArrowUpButtons(variable.name)}}"
              ></i>
            </td>
            <td style="width: 1%">
              <i
                ng-click="_.move(variables,$index,$index+1)"
                ng-hide="$last"
                class="pointer fa fa-arrow-down"
                aria-label="{{::selectors.tableRowArrowDownButtons(variable.name)}}"
              ></i>
            </td>
            <td style="width: 1%">
              <a
                ng-click="duplicate(variable)"
                class="btn btn-inverse btn-small"
                aria-label="{{::selectors.tableRowDuplicateButtons(variable.name)}}"
              >
                复制
              </a>
            </td>
            <td style="width: 1%">
              <a
                ng-click="removeVariable(variable)"
                class="btn btn-danger btn-small"
                aria-label="{{::selectors.tableRowRemoveButtons(variable.name)}}"
              >
                <i class="fa fa-remove"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <form ng-if="mode === 'edit' || mode === 'new'" name="ctrl.form" aria-label="变量编辑表格">
    <h5 class="section-heading">常规</h5>
    <div class="gf-form-group">
      <div class="gf-form-inline">
        <div class="gf-form max-width-19">
          <span class="gf-form-label width-6">名字</span>
          <input
            type="text"
            class="gf-form-input"
            name="name"
            placeholder="名字"
            ng-model="current.name"
            required
            ng-pattern="namePattern"
            aria-label="{{::selectors.generalNameInput}}"
          />
        </div>
        <div class="gf-form max-width-19">
          <span class="gf-form-label width-6">
            类型
            <info-popover mode="right-normal">
              {{ variableTypes[current.type].description }}
            </info-popover>
          </span>
          <div class="gf-form-select-wrapper max-width-17">
            <select
              class="gf-form-input"
              ng-model="current.type"
              ng-options="k as v.name for (k, v) in variableTypes"
              ng-change="typeChanged()"
              aria-label="{{::selectors.generalTypeSelect}}"
            ></select>
          </div>
        </div>
      </div>

      <div class="gf-form" ng-show="ctrl.form.name.$error.pattern">
        <span class="gf-form-label gf-form-label--error"
          >模板名称不能以'__'开头 , 这是为Grafana的全局变量保留的</span
        >
      </div>

      <div class="gf-form-inline">
        <div class="gf-form max-width-19">
          <span class="gf-form-label width-6">标签</span>
          <input
            type="text"
            class="gf-form-input"
            ng-model="current.label"
            placeholder="可选显示名称"
            aria-label="{{::selectors.generalLabelInput}}"
          />
        </div>
        <div class="gf-form max-width-19">
          <span class="gf-form-label width-6">隐藏</span>
          <div class="gf-form-select-wrapper max-width-15">
            <select
              class="gf-form-input"
              ng-model="current.hide"
              ng-options="f.value as f.text for f in hideOptions"
              aria-label="{{::selectors.generalHideSelect}}"
            ></select>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="current.type === 'interval'" class="gf-form-group">
      <h5 class="section-heading">间隔选项</h5>

      <div class="gf-form">
        <span class="gf-form-label width-9">值</span>
        <input
          type="text"
          class="gf-form-input"
          ng-model="current.query"
          placeholder="1m,10m,1h,6h,1d,7d"
          ng-model-onblur
          ng-change="runQuery()"
          required
          aria-label="变量编辑器表格间隔查询字段"
        />
      </div>

      <div class="gf-form-inline">
        <gf-form-switch
          class="gf-form"
          label="自动选项"
          label-class="width-9"
          checked="current.auto"
          on-change="runQuery()"
          aria-label="变量编辑器表格间隔自动选项开关"
        >
        </gf-form-switch>

        <div class="gf-form">
          <span class="gf-form-label width-9" ng-show="current.auto">
            步进计数 <tip>计算该值时，应将当前时间范围划分多少次</tip>
          </span>
          <div class="gf-form-select-wrapper max-width-10" ng-show="current.auto">
            <select
              class="gf-form-input"
              ng-model="current.auto_count"
              ng-options="f for f in [1,2,3,4,5,10,20,30,40,50,100,200,300,400,500]"
              ng-change="runQuery()"
              aria-label="变量编辑器表格间隔自动计数选择"
            ></select>
          </div>
        </div>
        <div class="gf-form">
          <span class="gf-form-label" ng-show="current.auto">
            最小间隔 <tip>计算值不会低于此阈值</tip>
          </span>
          <input
            type="text"
            class="gf-form-input max-width-10"
            ng-show="current.auto"
            ng-model="current.auto_min"
            ng-change="runQuery()"
            placeholder="10s"
            aria-label="变量编辑器表格间隔自动最小字段"
          />
        </div>
      </div>
    </div>

    <div ng-if="current.type === 'custom'" class="gf-form-group">
      <h5 class="section-heading">自定义选项</h5>
      <div class="gf-form">
        <span class="gf-form-label width-14">以逗号分隔的值</span>
        <input
          type="text"
          class="gf-form-input"
          ng-model="current.query"
          ng-blur="runQuery()"
          placeholder="1, 10, 20, myvalue, escaped\,value"
          required
          aria-label="变量编辑器表格自定义查询字段"
        />
      </div>
    </div>

    <div ng-if="current.type === 'constant'" class="gf-form-group">
      <h5 class="section-heading">常数选项</h5>
      <div class="gf-form">
        <span class="gf-form-label">值</span>
        <input
          type="text"
          class="gf-form-input"
          ng-model="current.query"
          ng-blur="runQuery()"
          placeholder="您的测量指标前缀"
          aria-label="{{::selectors.constantOptionsQueryInput}}"
        />
      </div>
    </div>

    <div ng-if="current.type === 'textbox'" class="gf-form-group">
      <h5 class="section-heading">文本选项</h5>
      <div class="gf-form">
        <span class="gf-form-label">默认值</span>
        <input
          type="text"
          class="gf-form-input"
          ng-model="current.query"
          ng-blur="runQuery()"
          placeholder="默认值（如果有）"
          aria-label="变量编辑器表格文本框查询字段"
        />
      </div>
    </div>

    <div ng-if="current.type === 'query'" class="gf-form-group">
      <h5 class="section-heading">查询选项</h5>

      <div class="gf-form-inline">
        <div class="gf-form max-width-21">
          <span class="gf-form-label width-10">数据源</span>
          <div class="gf-form-select-wrapper max-width-14">
            <select
              class="gf-form-input"
              ng-model="current.datasource"
              ng-options="f.value as f.name for f in datasources"
              ng-change="datasourceChanged()"
              required
              aria-label="{{::selectors.queryOptionsDataSourceSelect}}"
            >
              <option value="" ng-if="false"></option>
            </select>
          </div>
        </div>

        <div class="gf-form max-width-22">
          <span class="gf-form-label width-10">
            刷新
            <info-popover mode="right-normal">
              何时更新此变量的值。
            </info-popover>
          </span>
          <div class="gf-form-select-wrapper width-15">
            <select
              class="gf-form-input"
              ng-model="current.refresh"
              ng-options="f.value as f.text for f in refreshOptions"
              aria-label="{{::selectors.queryOptionsRefreshSelect}}"
            ></select>
          </div>
        </div>
      </div>

      <rebuild-on-change property="currentDatasource">
        <variable-query-editor-loader> </variable-query-editor-loader>
      </rebuild-on-change>

      <div class="gf-form">
        <span class="gf-form-label width-10">
          正则表达式
          <info-popover mode="right-normal">
            如果要提取序列名或度量节点段的一部分，则为可选。
          </info-popover>
        </span>
        <input
          type="text"
          class="gf-form-input"
          ng-model="current.regex"
          placeholder="/.*-(.*)-.*/"
          ng-model-onblur
          ng-change="runQuery()"
          aria-label="{{::selectors.queryOptionsRegExInput}}"
        />
      </div>
      <div class="gf-form max-width-21">
        <span class="gf-form-label width-10">
          排序
          <info-popover mode="right-normal">
            如何排序此变量的值。
          </info-popover>
        </span>
        <div class="gf-form-select-wrapper max-width-14">
          <select
            class="gf-form-input"
            ng-model="current.sort"
            ng-options="f.value as f.text for f in sortOptions"
            ng-change="runQuery()"
            aria-label="{{::selectors.queryOptionsSortSelect}}"
          ></select>
        </div>
      </div>
    </div>

    <div ng-show="current.type === 'datasource'" class="gf-form-group">
      <h5 class="section-heading">数据源选项</h5>

      <div class="gf-form">
        <label class="gf-form-label width-12">类型</label>
        <div class="gf-form-select-wrapper max-width-18">
          <select
            class="gf-form-input"
            ng-model="current.query"
            ng-options="f.value as f.text for f in datasourceTypes"
            ng-change="runQuery()"
            aria-label="变量编辑器表格数据源查询字段"
          ></select>
        </div>
      </div>

      <div class="gf-form">
        <label class="gf-form-label width-12">
          实例名称筛选器
          <info-popover mode="right-normal">
            在“变量值”下拉列表中为其选择数据源实例的正则表达式筛选器。为所有留空。
            <br /><br />
            例子: <code>/^prod/</code>
          </info-popover>
        </label>
        <input
          type="text"
          class="gf-form-input max-width-18"
          ng-model="current.regex"
          placeholder="/.*-(.*)-.*/"
          ng-model-onblur
          ng-change="runQuery()"
          aria-label="变量编辑器表格数据源正则表达式字段"
        />
      </div>
    </div>

    <div ng-if="current.type === 'adhoc'" class="gf-form-group">
      <h5 class="section-heading">选择</h5>
      <div class="gf-form max-width-21">
        <span class="gf-form-label width-8">数据源</span>
        <div class="gf-form-select-wrapper max-width-14">
          <select
            class="gf-form-input"
            ng-model="current.datasource"
            ng-options="f.value as f.name for f in datasources"
            required
            ng-change="validate()"
            aria-label="变量编辑器表格临时数据源选择"
          >
            <option value="" ng-if="false"></option>
          </select>
        </div>
      </div>
    </div>

    <div class="section gf-form-group" ng-show="variableTypes[current.type].supportsMulti">
      <h5 class="section-heading">选择选项</h5>
      <div class="section">
        <gf-form-switch
          class="gf-form"
          label="多值性"
          label-class="width-10"
          tooltip="允许同时选择多个值"
          checked="current.multi"
          on-change="runQuery()"
          aria-label="{{::selectors.selectionOptionsMultiSwitch}}"
        >
        </gf-form-switch>
        <gf-form-switch
          class="gf-form"
          label="包括所有选项"
          label-class="width-10"
          checked="current.includeAll"
          on-change="runQuery()"
          aria-label="{{::selectors.selectionOptionsIncludeAllSwitch}}"
        >
        </gf-form-switch>
      </div>
      <div class="gf-form" ng-if="current.includeAll">
        <span class="gf-form-label width-10">自定义所有值</span>
        <input
          type="text"
          class="gf-form-input max-width-15"
          ng-model="current.allValue"
          placeholder="blank = auto"
          aria-label="{{::selectors.selectionOptionsCustomAllInput}}"
        />
      </div>
    </div>

    <div class="gf-form-group" ng-if="current.type === 'query'">
      <h5>值 组/标记（实验特性）</h5>
      <gf-form-switch
        class="gf-form"
        label="Enabled"
        label-class="width-10"
        checked="current.useTags"
        on-change="runQuery()"
        aria-label="{{::selectors.valueGroupsTagsEnabledSwitch}}"
      >
      </gf-form-switch>
      <div class="gf-form last" ng-if="current.useTags">
        <span class="gf-form-label width-10">标记查询</span>
        <input
          type="text"
          class="gf-form-input"
          ng-model="current.tagsQuery"
          placeholder="测量指标名称或标记查询"
          ng-model-onblur
          aria-label="{{::selectors.valueGroupsTagsTagsQueryInput}}"
        />
      </div>
      <div class="gf-form" ng-if="current.useTags">
        <li class="gf-form-label width-10">标记值查询</li>
        <input
          type="text"
          class="gf-form-input"
          ng-model="current.tagValuesQuery"
          placeholder="apps.$tag.*"
          ng-model-onblur
          aria-label="{{::selectors.valueGroupsTagsTagsValuesQueryInput}}"
        />
      </div>
    </div>

    <div class="gf-form-group" ng-show="current.options.length">
      <h5>预览值</h5>
      <div class="gf-form-inline">
        <div class="gf-form" ng-repeat="option in current.options | limitTo: optionsLimit">
          <span class="gf-form-label" aria-label="{{::selectors.previewOfValuesOption}}">{{ option.text }}</span>
        </div>
        <div class="gf-form" ng-if="current.options.length > optionsLimit">
          <a
            class="gf-form-label btn-secondary"
            ng-click="showMoreOptions()"
            aria-label="变量编辑器预览值显示更多链接"
          >
            显示更多
          </a>
        </div>
      </div>
    </div>

    <div class="alert alert-info gf-form-group" ng-if="infoText" aria-label="变量编辑器表格告警">
      {{ infoText }}
    </div>

    <div class="gf-form-button-row p-y-0">
      <button
        type="submit"
        class="btn btn-primary"
        ng-show="mode === 'edit'"
        ng-click="update();"
        aria-label="{{::selectors.updateButton}}"
      >
        更新
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        ng-show="mode === 'new'"
        ng-click="add();"
        aria-label="{{::selectors.addButton}}"
      >
        添加
      </button>
    </div>
  </form>
</div>
