<div class="modal-body">
  <div class="modal-header">
    <h2 class="modal-header-title">
      <i class="gicon gicon-folder-new"></i>
      <span class="p-l-1">选择仪表板文件夹</span>
    </h2>

    <a class="modal-header-close" ng-click="ctrl.dismiss();">
      <i class="fa fa-remove"></i>
    </a>
  </div>

  <form name="ctrl.saveForm" ng-submit="ctrl.save()" class="modal-content folder-modal" novalidate>
    <p>将所选{{ctrl.dashboards.length}}仪表板移动到以下文件夹：</p>

    <div class="p-t-2">
      <div class="gf-form">
        <folder-picker
          on-change="ctrl.onFolderChange"
          label-class="width-7"
          enable-create-new="true"
          folder="ctrl.folder"
        >
        </folder-picker>
      </div>
    </div>
    <div class="gf-form-button-row text-center">
      <button
        type="submit"
        class="btn btn-primary"
        ng-disabled="ctrl.saveForm.$invalid || !ctrl.isValidFolderSelection"
      >
        移动
      </button>
      <a class="btn-text" ng-click="ctrl.dismiss();">取消</a>
    </div>
  </form>
</div>
