<h3 class="dashboard-settings__header">
  <a ng-click="ctrl.switchMode('list')">版本</a>
  <span ng-show="ctrl.mode === 'compare'">
    <i class="fa fa-fw fa-chevron-right"></i> 比较 {{ctrl.baseInfo.version}}
    <i class="fa fa-arrows-h"></i>
    {{ctrl.newInfo.version}}
    <cite class="muted" ng-if="ctrl.isNewLatest">(Latest)</cite>
  </span>
</h3>

<div ng-if="ctrl.mode === 'list'">
  <div ng-if="ctrl.loading">
    <i class="fa fa-spinner fa-spin"></i>
    <em>正在获取历史记录列表&hellip;</em>
  </div>

  <div ng-if="!ctrl.loading">
    <div class="gf-form-group">
      <table class="filter-table">
        <thead>
          <tr>
            <th class="width-4"></th>
            <th class="width-4">版本</th>
            <th class="width-14">日期</th>
            <th class="width-10">更新者</th>
            <th>注</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="revision in ctrl.revisions">
            <td class="filter-table__switch-cell" bs-tooltip="!revision.checked && ctrl.canCompare ? 'You can only compare 2 versions at a time' : ''" data-placement="right">
              <gf-form-checkbox switch-class="gf-form-switch--table-cell" checked="revision.checked" on-change="ctrl.revisionSelectionChanged()" ng-disabled="!revision.checked && ctrl.canCompare">
              </gf-form-checkbox>
            </td>
            <td class="text-center">{{revision.version}}</td>
            <td>{{revision.createdDateString}}</td>
            <td>{{revision.createdBy}}</td>
            <td>{{revision.message}}</td>
            <td class="text-right">
              <a class="btn btn-inverse btn-small" ng-show="revision.version !== ctrl.dashboard.version" ng-click="ctrl.restore(revision.version)">
                <i class="fa fa-history"></i>&nbsp;&nbsp;恢复
              </a>
              <a class="btn btn-outline-disabled btn-small" ng-show="revision.version === ctrl.dashboard.version">
                <i class="fa fa-check"></i>&nbsp;&nbsp;最新的
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <div ng-if="ctrl.appending">
        <i class="fa fa-spinner fa-spin"></i>
        <em>获取更多条目&hellip;</em>
      </div>

      <div class="gf-form-group">
        <div class="gf-form-button-row">
          <button  type="button"
                   class="btn gf-form-button btn-inverse"
                   ng-if="ctrl.revisions.length >= ctrl.limit"
                   ng-click="ctrl.addToLog()"
                   ng-disabled="ctrl.isLastPage()">
            显示更多版本
          </button>
          <button type="button"
                  class="btn btn-primary"
                  ng-if="ctrl.revisions.length > 1"
                  ng-disabled="!ctrl.canCompare"
                  ng-click="ctrl.getDiff(ctrl.diff)"
                  bs-tooltip="ctrl.canCompare ? '' : 'Select 2 versions to start comparing'" data-placement="bottom">
            <i class="fa fa-code-fork" ></i>&nbsp;&nbsp;比较版本
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="ctrl.mode === 'compare'">
  <div ng-if="ctrl.loading">
    <i class="fa fa-spinner fa-spin"></i>
    <em>获取更改&hellip;</em>
  </div>

  <div ng-if="!ctrl.loading">
    <button  type="button"
             class="btn btn-danger pull-right"
             ng-click="ctrl.restore(ctrl.baseInfo.version)"
             ng-if="ctrl.isNewLatest">
      <i class="fa fa-history" ></i>&nbsp;&nbsp;还原到版本 {{ctrl.baseInfo.version}}
    </button>
    <section>
      <p class="small muted">
      <strong>版本 {{ctrl.newInfo.version}}</strong> 更新者
      <span>{{ctrl.newInfo.createdBy}} </span>
      <span>{{ctrl.newInfo.ageString}}</span>
      <span> - {{ctrl.newInfo.message}}</span>
      </p>
      <p class="small muted">
      <strong>版本 {{ctrl.baseInfo.version}}</strong> 更新者
      <span>{{ctrl.baseInfo.createdBy}} </span>
      <span>{{ctrl.baseInfo.ageString}}</span>
      <span> - {{ctrl.baseInfo.message}}</span>
      </p>
    </section>

    <div id="delta" diff-delta>
      <div class="delta-basic" compile="ctrl.delta.basic"></div>
    </div>

    <div class="gf-form-button-row">
      <button class="btn btn-secondary" ng-click="ctrl.getDiff('json')">查看JSON差异</button>
    </div>

    <div class="delta-html" ng-show="ctrl.diff === 'json'" compile="ctrl.delta.json"></div>
  </div>
</div>
