<div class="gf-form-inline">
	<div class="gf-form">
		<span class="gf-form-label">模式</span>
		<span class="gf-form-select-wrapper">
			<select class="gf-form-input" ng-model="ctrl.panel.mode" ng-options="f for f in ['html','markdown']"></select>
		</span>
	</div>
</div>

<div class="gf-form-inline">
	<div class="gf-form gf-form--grow">
		<code-editor content="ctrl.panel.content" on-change="ctrl.render()" data-mode="markdown" data-max-lines=20>
		</code-editor>
	</div>
</div>
