<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-cloud-download"></i>
			<span class="p-l-1">更新插件</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content">
		<div class="gf-form-group">
			<p>在命令行中键入以下内容进行更新 {{model.name}}.</p>
			<pre><code>grafana-cli plugins update {{model.id}}</code></pre>
			<span class="small">检查 {{model.name}} on <a href="https://grafana.com/plugins/{{model.id}}">Grafana.com</a> 用于自述文件和更改日志。如果您没有访问命令行的权限，请询问Grafana管理员。</span>
		</div>
		<p class="pluginlist-none-installed"><img class="pluginlist-inline-logo" src="public/img/grafana_icon.svg"><strong>专业提示</strong>: 一次更新所有插件, 在命令行键入 <code class="code--small">grafana-cli plugins update-all</code> </div>
	</div>
</div>
