<div class="gf-form-group">
	<div class="gf-form" ng-if="ctrl.annotation.index">
		<span class="gf-form-label width-14">索引名字</span>
		<input type="text" class="gf-form-input max-width-20" ng-model='ctrl.annotation.index' placeholder="events-*"></input>
	</div>
	<div class="gf-form-group">
		<div class="gf-form">
			<input type="text" class="gf-form-input" ng-model='ctrl.annotation.query'
											placeholder="Elasticsearch lucene query"></input>
		</div>
	</div>
</div>

<div class="gf-form-group">
	<h6>字段映射</h6>
	<div class="gf-form-inline">
		<div class="gf-form">
			<span class="gf-form-label">时间</span>
			<input type="text" class="gf-form-input max-width-14" ng-model='ctrl.annotation.timeField' placeholder="@timestamp"></input>
		</div>
		<div class="gf-form">
			<span class="gf-form-label">结束的时间</span>
			<input type="text" class="gf-form-input max-width-14" ng-model='ctrl.annotation.timeEndField' placeholder=""></input>
		</div>
		<div class="gf-form">
			<span class="gf-form-label">文本</span>
			<input type="text" class="gf-form-input max-width-14" ng-model='ctrl.annotation.textField' placeholder=""></input>
		</div>
		<div class="gf-form">
			<span class="gf-form-label">标签</span>
			<input type="text" class="gf-form-input max-width-10" ng-model='ctrl.annotation.tagsField' placeholder="tags"></input>
		</div>
		<div class="gf-form" ng-show="ctrl.annotation.titleField">
			<span class="gf-form-label">标题 <em class="muted">（已弃用）</em></span>
			<input type="text" class="gf-form-input max-width-16" ng-model='ctrl.annotation.titleField' placeholder="desc"></input>
		</div>
	</div>
</div>
