[[Subject .Subject "欢迎来到云鹰平台"]]

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h4>嗨！ [[.Name]],</h4>
					</td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td>
						欢迎！准备好开始构建一些漂亮的度量指标和分析仪表板了吗？
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<p>
							如果你是Grafana的新人，请阅读 <a href="http://docs.grafana.org/guides/gettingstarted/">入门</a> 指导。
						</p>
					</td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td>
						感谢您加入我们的社区。
						<br />
						<p>Grafana团队</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


