
<div class="gf-form-group">
  <div class="gf-form-inline">
		<div class="gf-form gf-form--grow">
			<textarea rows="10" class="gf-form-input" ng-model="ctrl.annotation.rawQuery" spellcheck="false" placeholder="query expression" data-min-length=0 data-items=100 ng-model-onblur ng-change="ctrl.panelCtrl.refresh()"></textarea>
		</div>
	</div>

  <div class="gf-form-inline">
    <div class="gf-form">
      <label class="gf-form-label query-keyword" ng-click="ctrl.showHelp = !ctrl.showHelp">
        显示帮助
        <i class="fa fa-caret-down" ng-show="ctrl.showHelp"></i>
        <i class="fa fa-caret-right" ng-hide="ctrl.showHelp"></i>
      </label>
		</div>
  </div>

  <div class="gf-form"  ng-show="ctrl.showHelp">
		<pre class="gf-form-pre alert alert-info"><h6>注释查询格式</h6>
注释是覆盖在图形顶部的事件。查询每行最多可以有四列，而<b>时间</b>列是必需的。注释呈现占用内存很高，因此必须限制返回的行数。

- 带别名的列: <b>时间</b> 对于注释事件时间。使用epoch时间或任何本机日期数据类型。
- 带别名的列: <b>结束时间</b> 对于注释事件结束时间。使用epoch时间或任何本机日期数据类型。
- 带别名的列: <b>文本</b> 对于注释文本。
- 带别名的列: <b>标签</b> 用于注释标记。这是一个逗号分隔的标记字符串，例如“标签1，标签2”。


宏命令s:
- $__time(column) -&gt; column as "time"
- $__timeEpoch -&gt; extract(epoch from column) as "time"
- $__timeFilter(column) -&gt; column BETWEEN '2017-04-21T05:01:17Z' AND '2017-04-21T05:01:17Z'
- $__unixEpochFilter(column) -&gt;  column &gt;= 1492750877 AND column &lt;= 1492750877
- $__unixEpochNanoFilter(column) -&gt;  column &gt;= 1494410783152415214 AND column &lt;= 1494497183142514872

或者使用这些只返回值的宏生成自己的条件：
- $__timeFrom() -&gt;  '2017-04-21T05:01:17Z'
- $__timeTo() -&gt;  '2017-04-21T05:01:17Z'
- $__unixEpochFrom() -&gt;  1492750877
- $__unixEpochTo() -&gt;  1492750877
- $__unixEpochNanoFrom() -&gt;  1494410783152415214
- $__unixEpochNanoTo() -&gt;  1494497183142514872
		</pre>
	</div>
</div>
