
<h3 class="page-heading">PostgreSQL连接</h3>

<div class="gf-form-group">
	<div class="gf-form max-width-30">
		<span class="gf-form-label width-7">主机</span>
		<input type="text" class="gf-form-input" ng-model='ctrl.current.url' placeholder="localhost:5432" bs-typeahead="{{['localhost:5432', 'localhost:5433']}}" required></input>
	</div>

	<div class="gf-form max-width-30">
		<span class="gf-form-label width-7">数据库</span>
		<input type="text" class="gf-form-input" ng-model='ctrl.current.database' placeholder="database name" required></input>
	</div>

	<div class="gf-form-inline">
		<div class="gf-form max-width-15">
			<span class="gf-form-label width-7">用户</span>
			<input type="text" class="gf-form-input" ng-model='ctrl.current.user' placeholder="用户"></input>
		</div>
    <div class="gf-form">
      <secret-form-field
        isConfigured="ctrl.current.secureJsonFields.password"
        value="ctrl.current.secureJsonData.password"
        on-reset="ctrl.onPasswordReset"
        on-change="ctrl.onPasswordChange"
        inputWidth="9"
      />
    </div>
	</div>

	<div class="gf-form">
		<label class="gf-form-label width-7">SSL模式</label>
		<div class="gf-form-select-wrapper max-width-15 gf-form-select-wrapper--has-help-icon">
			<select class="gf-form-input" ng-model="ctrl.current.jsonData.sslmode" ng-options="mode for mode in ['disable', 'require', 'verify-ca', 'verify-full']" ng-init="ctrl.current.jsonData.sslmode"></select>
			<info-popover mode="right-absolute">
				此选项确定是否与服务器协商安全SSL TCP/IP连接，或以何种优先级进行协商。
			</info-popover>
		</div>
	</div>
</div>

<b>Connection limits</b>

<div class="gf-form-group">
	<div class="gf-form max-width-15">
		<span class="gf-form-label width-7">最大开度</span>
		<input type="number" min="0" class="gf-form-input gf-form-input--has-help-icon" ng-model="ctrl.current.jsonData.maxOpenConns" placeholder="unlimited"></input>
		<info-popover mode="right-absolute">
			与数据库的最大打开连接数。如果<i>最大空闲连接数</i>大于0且<i>最大打开连接数</i>小于<i>最大空闲连接数</i>，则<i>最大空闲连接数</i>将减小以匹配<i>最大打开连接数</i>限制。如果设置为0，则打开的连接数没有限制。
		</info-popover>
	</div>
	<div class="gf-form max-width-15">
		<span class="gf-form-label width-7">最大空闲时间</span>
		<input type="number" min="0" class="gf-form-input gf-form-input--has-help-icon" ng-model="ctrl.current.jsonData.maxIdleConns" placeholder="2"></input>
		<info-popover mode="right-absolute">
			空闲连接池中的最大连接数。如果<i>最大打开连接数</i>大于0但小于<i>最大空闲连接数</i>，则将减小<i>最大空闲连接数</i>以匹配<i>最大打开连接数</i>限制。如果设置为0，则不保留空闲连接。
		</info-popover>
	</div>
	<div class="gf-form max-width-15">
		<span class="gf-form-label width-7">最大使用时间</span>
		<input type="number" min="0" class="gf-form-input gf-form-input--has-help-icon" ng-model="ctrl.current.jsonData.connMaxLifetime" placeholder="14400"></input>
		<info-popover mode="right-absolute">
			连接可重用的最长时间（秒）。如果设置为0，则将永远重用连接。
		</info-popover>
	</div>
</div>

<h3 class="page-heading">PostgreSQL详细信息</h3>

<div class="gf-form-group">
	<div class="gf-form">
		<span class="gf-form-label width-9">
			版本
			<info-popover mode="right-normal" position="top center">
				此选项控制PostgreSQL查询生成器中可用的函数。
			</info-popover>
		</span>
		<span class="gf-form-select-wrapper">
			<select class="gf-form-input gf-size-auto" ng-model="ctrl.current.jsonData.postgresVersion" ng-options="f.value as f.name for f in ctrl.postgresVersions"></select>
		</span>
	</div>
	<div class="gf-form">
		<gf-form-switch class="gf-form" label="TimescaleDB" label-class="width-9" checked="ctrl.current.jsonData.timescaledb" switch-class="max-width-6"></gf-form-switch>
    <label class="gf-form-label query-keyword pointer" ng-click="ctrl.toggleTimescaleDBHelp()">
      Help&nbsp;
      <i class="fa fa-caret-down" ng-show="ctrl.showTimescaleDBHelp"></i>
      <i class="fa fa-caret-right" ng-hide="ctrl.showTimescaleDBHelp">&nbsp;</i>
    </label>
	</div>

	<div class="gf-form-inline">
		<div class="gf-form">
			<span class="gf-form-label width-9">最小时间间隔</span>
			<input
        type="text"
        class="gf-form-input width-6 gf-form-input--has-help-icon"
        ng-model="ctrl.current.jsonData.timeInterval"
        spellcheck='false'
        placeholder="1m"
        ng-pattern="/^\d+(ms|[Mwdhmsy])$/"
      ></input>
			<info-popover mode="right-absolute">
				按时间间隔自动分组的下限。建议设置为写入频率，例如，如果您的数据每分钟写入一次，则设置为<code>1m</code>。
			</info-popover>
		</div>
	</div>
<div class="grafana-info-box alert alert-info" ng-show="ctrl.showTimescaleDBHelp">
  <div class="alert-body">
    <p>
			<a href="https://github.com/timescale/timescaledb" class="pointer" target="_blank">TimescaleDB</a>是作为PostgreSQL扩展构建的时间序列数据库。如果启用，Grafana将使用<code>time_bucket</code>宏中的<code>$__timeGroup</code>并在查询生成器中显示特定于TimescaleDB的聚合函数。
    </p>
  </div>
</div>

</div>


<div class="gf-form-group">
	<div class="grafana-info-box">
		<h5>用户权限</h5>
		<p>
			只应授予数据库用户对要查询的指定数据库表的选择权限。Grafana不验证查询是否安全，因此查询可以包含任何SQL语句。例如，将执行诸如<code>DELETE FROM user;</code>和<code>DROP TABLE user；</code>之类的语句。为了防止这种情况，我们高度建议您创建一个具有受限权限的特定PostgreSQL用户。
		</p>
	</div>
</div>

