<query-editor-row query-ctrl="ctrl" has-text-edit-mode="false">
	<div class="gf-form-inline">
		<div class="gf-form">
			<label class="gf-form-label query-keyword width-7">方案</label>
			<div class="gf-form-select-wrapper width-15">
				<select class="gf-form-input" ng-model="ctrl.target.scenarioId" ng-options="v.id as v.name for v in ctrl.scenarioList" ng-change="ctrl.scenarioChanged()" aria-label={{ctrl.selectors.scenarioSelect}}></select>
			</div>
		</div>
		<div class="gf-form gf-form gf-form--grow" ng-if="ctrl.scenario.stringInput">
			<label class="gf-form-label query-keyword">字符串输入</label>
      <input type="text" class="gf-form-input" placeholder="{{ctrl.scenario.stringInput}}" ng-model="ctrl.target.stringInput" ng-change="ctrl.refresh()" ng-model-onblur>
		</div>
		<div class="gf-form">
			<label class="gf-form-label query-keyword">别名</label>
			<input type="text" class="gf-form-input width-14" placeholder="optional" ng-model="ctrl.target.alias" ng-change="ctrl.refresh()" ng-model-onblur>
		</div>
		<div ng-if="ctrl.showLabels" class="gf-form gf-form--grow">
			<label class="gf-form-label query-keyword">
				标签
				<info-popover mode="right-normal">
					使用key=value语法设置标签:<br/>
					{key="value", key2="value"}<br/>
					key="value", key2="value"<br/>
					key=value, key2=value<br/>
				</info-popover>
			</label>
			<input type="text" class="gf-form-input gf-form--grow" placeholder='key=value, key2=value2' ng-model="ctrl.target.labels" ng-change="ctrl.refresh()" ng-model-onblur>
		</div>
		<div ng-if="!ctrl.showLabels" class="gf-form gf-form--grow">
			<div class="gf-form-label gf-form-label--grow"></div>
		</div>
	</div>
	<div class="gf-form-inline" ng-if="ctrl.scenario.id === 'manual_entry'">
		<div class="gf-form gf-form">
			<label class="gf-form-label query-keyword width-7">新值</label>
      <input type="number" class="gf-form-input width-15" placeholder="value" ng-model="ctrl.newPointValue">
			<label class="gf-form-label query-keyword">时间</label>
      <input type="string" class="gf-form-input width-12" placeholder="time" ng-model="ctrl.newPointTime">
			<button class="btn btn-secondary gf-form-btn" ng-click="ctrl.addPoint()">添加</button>
			<label class="gf-form-label query-keyword">所有值</label>
			<gf-form-dropdown css-class="width-12" model="ctrl.selectedPoint" get-options="ctrl.getPoints()" on-change="ctrl.pointSelected($option)">
			</gf-form-dropdown>
		</div>
		<div class="gf-form gf-form" ng-if="ctrl.selectedPoint.value !== null">
			<button class="btn btn-danger gf-form-btn" ng-click="ctrl.deletePoint()">删除</button>
		</div>
		<div class="gf-form gf-form--grow">
			<div class="gf-form-label gf-form-label--grow"></div>
		</div>
	</div>
  <div class="gf-form-inline" ng-if="ctrl.scenario.id === 'random_walk'">
    <div class="gf-form">
			<label class="gf-form-label query-keyword width-7">序列计数</label>
			<input type="number"
				class="gf-form-input width-7"
				placeholder="1"
				ng-model="ctrl.target.seriesCount"
				min="1"
				step="1"
				ng-change="ctrl.refresh()" />
		</div>
    <div class="gf-form">
			<label class="gf-form-label query-keyword width-7">起始值</label>
			<input type="number"
				class="gf-form-input width-6"
				placeholder="auto"
				ng-model="ctrl.target.startValue"
				step="1"
				ng-change="ctrl.refresh()" />
		</div>
		<div class="gf-form">
			<label class="gf-form-label query-keyword width-7">传播</label>
			<input type="number"
				class="gf-form-input width-6"
				placeholder="1"
				ng-model="ctrl.target.spread"
				min="0.5"
				step="0.1"
				ng-change="ctrl.refresh()" />
		</div>
		<div class="gf-form">
			<label class="gf-form-label query-keyword width-7">噪音</label>
			<input type="number"
				class="gf-form-input width-6"
				placeholder="0"
				ng-model="ctrl.target.noise"
				min="0"
				step="0.1"
				ng-change="ctrl.refresh()" />
		</div>
    <div class="gf-form">
			<label class="gf-form-label query-keyword width-7">最小值</label>
			<input type="number"
				class="gf-form-input width-6"
				placeholder="none"
				ng-model="ctrl.target.min"
				step="0.1"
				ng-change="ctrl.refresh()" />
		</div>
    <div class="gf-form">
			<label class="gf-form-label query-keyword width-7">最大值</label>
			<input type="number"
				class="gf-form-input width-6"
				placeholder="none"
				ng-model="ctrl.target.max"
				step="0.1"
				ng-change="ctrl.refresh()" />
		</div>
  </div>
	<div class="gf-form-inline" ng-if="ctrl.scenario.id === 'streaming_client'">
		<div class="gf-form gf-form">
			<label class="gf-form-label query-keyword width-7">类型</label>
			<div class="gf-form-select-wrapper">
				<select
				  ng-model="ctrl.target.stream.type"
				  class="gf-form-input"
				  ng-options="type for type in ['signal','logs', 'fetch']"
				  ng-change="ctrl.streamChanged()" />
				</select>
			</div>
		</div>
		<div class="gf-form">
			<label class="gf-form-label query-keyword">速度(ms)</label>
			<input type="number"
				class="gf-form-input width-5"
				placeholder="value"
				ng-model="ctrl.target.stream.speed"
				min="10"
				step="10"
				ng-change="ctrl.streamChanged()" />
		</div>
		<div class="gf-form" ng-if="ctrl.target.stream.type === 'signal'">
			<label class="gf-form-label query-keyword">传播</label>
			<input type="number"
				class="gf-form-input width-5"
				placeholder="value"
				ng-model="ctrl.target.stream.spread"
				min="0.5"
				step="0.1"
				ng-change="ctrl.streamChanged()" />
		</div>
		<div class="gf-form" ng-if="ctrl.target.stream.type === 'signal'">
			<label class="gf-form-label query-keyword">噪音</label>
			<input type="number"
				class="gf-form-input width-5"
				placeholder="value"
				ng-model="ctrl.target.stream.noise"
				min="0"
				step="0.1"
				ng-change="ctrl.streamChanged()" />
		</div>
		<div class="gf-form" ng-if="ctrl.target.stream.type === 'signal'">
			<label class="gf-form-label query-keyword">带宽</label>
			<input type="number"
				class="gf-form-input width-5"
				placeholder="bands"
				ng-model="ctrl.target.stream.bands"
				min="0"
				step="1"
				ng-change="ctrl.streamChanged()" />
		</div>
		<div class="gf-form gf-form--grow" ng-if="ctrl.target.stream.type === 'fetch'">
			<label class="gf-form-label query-keyword">URL</label>
			<input type="string"
				class="gf-form-input gf-form-label--grow"
				placeholder="Fetch URL"
				ng-model="ctrl.target.stream.url"
				ng-change="ctrl.streamChanged()"
				ng-model-onblur />
		</div>
		<div class="gf-form gf-form--grow" ng-if="ctrl.target.stream.type !== 'fetch'">
			<div class="gf-form-label gf-form-label--grow"></div>
		</div>
	</div>

	<div class="gf-form-inline" ng-if="ctrl.scenario.id === 'logs'">
		<div class="gf-form">
			<label class="gf-form-label query-keyword">线图</label>
			<input type="number"
				class="gf-form-input width-5"
				placeholder="10"
				ng-model="ctrl.target.lines"
				ng-change="ctrl.refresh()"
				ng-model-onblur />
		</div>
		<div class="gf-form">
			<gf-form-switch class="gf-form" label="Level" label-class="query-keyword width-5" checked="ctrl.target.levelColumn" switch-class="max-width-6" on-change="ctrl.refresh()"></gf-form-switch>
		</div>
	</div>

	<!-- Predictable Pulse Scenario Options Form -->
	<div class="gf-form-inline" ng-if="ctrl.scenario.id === 'predictable_pulse'">
		<div class="gf-form">
			<label class="gf-form-label query-keyword width-7">
				步
				<info-popover mode="right-normal">数据点之间的秒数。</info-popover>
			</label>
				<input type="number"
				class="gf-form-input width-5"
				placeholder="60"
				ng-model="ctrl.target.pulseWave.timeStep"
				ng-change="ctrl.refresh()"
				ng-model-onblur />
		</div>
		<div class="gf-form">
			<label class="gf-form-label query-keyword width-7">
				计算总数
				<info-popover mode="right-normal">在周期开始时，一个周期内应该具有onValue的值的数目。</info-popover>
			</label>
			<input type="number"
				class="gf-form-input width-3"
				placeholder="3"
				ng-model="ctrl.target.pulseWave.onCount"
				ng-change="ctrl.refresh()"
				ng-model-onblur />
		</div>
		<div class="gf-form">
			<label class="gf-form-label query-keyword width-7">
				不计数
				<info-popover mode="right-normal">周期内的offValues数。</info-popover>
			</label>
			<input type="number"
				class="gf-form-input width-3"
				placeholder="6"
				ng-model="ctrl.target.pulseWave.offCount"
				ng-change="ctrl.refresh()"
				ng-model-onblur />
		</div>
		<div class="gf-form">
			<label class="gf-form-label query-keyword width-7">
				On Value
				<info-popover mode="right-normal">“on values”的值可以是int、float或null。</info-popover>
			</label>
			<input type="string"
				class="gf-form-input width-5"
				placeholder="1"
				ng-model="ctrl.target.pulseWave.onValue"
				ng-change="ctrl.refresh()"
				ng-model-onblur />
		</div>
		<div class="gf-form">
			<label class="gf-form-label query-keyword width-7">
				Off Value
				<info-popover mode="right-normal">“off values”的值可以是int、float或null。</info-popover>
			</label>
			<input type="string"
				class="gf-form-input width-5"
				placeholder="1"
				ng-model="ctrl.target.pulseWave.offValue"
				ng-change="ctrl.refresh()"
				ng-model-onblur />
		</div>
	</div>

	<!-- Predictable CSV Wave Scenario Options Form -->
	<div class="gf-form-inline" ng-if="ctrl.scenario.id === 'predictable_csv_wave'">
			<div class="gf-form">
				<label class="gf-form-label query-keyword width-7">
					步
					<info-popover mode="right-normal">数据点之间的秒数。</info-popover>
				</label>
					<input type="number"
					class="gf-form-input width-5"
					placeholder="60"
					ng-model="ctrl.target.csvWave.timeStep"
					ng-change="ctrl.refresh()"
					ng-model-onblur />
			</div>
			<div class="gf-form gf-form--grow">
					<label class="gf-form-label query-keyword width-10">
							CSV值
							<info-popover mode="right-normal">逗号分隔值。每个值可以是int、float或null，并且不能为空。删除空白和尾随逗号。</info-popover>
						</label>
					<input type="string"
						class="gf-form-input gf-form-label--grow"
						placeholder="1,2,3,2"
						ng-model="ctrl.target.csvWave.valuesCSV"
						ng-change="ctrl.refresh()"
						ng-model-onblur />
				</div>
		</div>
</query-editor-row>
