<div class="gf-form-group">
  <div class="gf-form">
    <span class="gf-form-label width-12">Graphite查询</span>
    <input type="text" class="gf-form-input" ng-model='ctrl.annotation.target' placeholder="Example: statsd.application.counters.*.count"></input>
  </div>

	<h5 class="section-heading">Or</h5>

  <div class="gf-form">
    <span class="gf-form-label width-12">Graphite事件标记</span>
    <input type="text" class="gf-form-input" ng-model='ctrl.annotation.tags' placeholder="Example: event_tag_name"></input>
  </div>
</div>
