<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body">
  <div ng-if="ctrl.playlists.length > 0">
    <div class="page-action-bar">
      <div class="page-action-bar__spacer"></div>
      <a class="btn btn-primary pull-right" href="playlists/create">
        创建播放列表
      </a>
    </div>

    <table class="filter-table filter-table--hover">
      <thead>
        <th><strong>名字</strong></th>
        <th style="width: 100px"></th>
        <th style="width: 78px"></th>
      </thead>
      <tr ng-repeat="playlist in ctrl.playlists">
        <td class="link-td">
          <a href="playlists/edit/{{playlist.id}}">{{playlist.name}}</a>
        </td>
        <td class="dropdown">
          <button class="btn btn-inverse btn-small" data-toggle="dropdown">
            开始播放列表
            <i class="fa fa-caret-down"></i>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="{{playlist.startUrl}}">
                <i class="fa fa-play"></i> 在正常模式下</span>
              </a>
              <a href="{{playlist.startUrl}}?kiosk=tv">
                <i class="fa fa-play"></i> 在TV模式下</span>
              </a>
              <a href="{{playlist.startUrl}}?kiosk=tv&autofitpanels">
                <i class="fa fa-play"></i> 在TV模式下 <span class="muted">（带自动安装面板）</span>
              </a>
              <a href="{{playlist.startUrl}}?kiosk">
                <i class="fa fa-play"></i> 在Kiosk模式下</span>
              </a>
              <a ng-href="{{playlist.startUrl}}?kiosk&autofitpanels">
                <i class="fa fa-play"></i> 在Kiosk模式下 <span class="muted">（带自动安装面板）</span>
              </a>
            </li>
          </ul>
        </td>
        <td  class="text-right">
          <a ng-click="ctrl.removePlaylist(playlist)" class="btn btn-danger btn-small">
            <i class="fa fa-remove"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div ng-if="ctrl.playlists.length === 0">
    <empty-list-cta
      title="'尚未创建播放列表'"
      buttonIcon="'fa fa-plus'"
      buttonLink="'playlists/create'"
      buttonTitle="'创建播放列表'"
      proTip="'您可以使用播放列表在没有用户控制的情况下循环播放电视上的仪表板'"
      proTipLink="'http://docs.grafana.org/reference/playlist/'"
      proTipLinkTitle="'了解更多'"
      proTipTarget="'_blank'" />
  </div>
</div>

<footer />
