<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body" ng-form="ctrl.playlistEditForm">

	<h3 class="page-sub-heading" ng-hide="ctrl.isNew">编辑播放列表</h3>
	<h3 class="page-sub-heading" ng-show="ctrl.isNew">创建播放列表</h3>

	<p class="playlist-description">播放列表在预先选定的仪表板列表中旋转。播放列表可以是建立情景感知的一个很好的方法，或者只是向您的团队或访客展示您的指标。</p>

	<div class="gf-form-group">
		<div class="gf-form">
			<span class="gf-form-label width-7">名字</span>
			<input type="text" required ng-model="ctrl.playlist.name" class="gf-form-input max-width-21">
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-7">间隔</span>
			<input type="text" required ng-model="ctrl.playlist.interval" placeholder="5m" class="gf-form-input max-width-21">
		</div>
	</div>

	<div class="gf-form-group">
		<h3 class="page-headering">仪表盘</h3>

		<table class="filter-table playlist-available-list">
			<tr ng-repeat="playlistItem in ctrl.playlistItems">
				<td ng-if="playlistItem.type === 'dashboard_by_id'">
					<i class="gicon gicon-dashboard"></i>&nbsp;&nbsp;{{playlistItem.title}}
				</td>
				<td ng-if="playlistItem.type === 'dashboard_by_tag'">
					<a class="search-result-tag label label-tag" tag-color-from-name="playlistItem.title">
						<i class="fa fa-tag"></i>
						<span>{{playlistItem.title}}</span>
					</a>
				</td>

				<td class="selected-playlistitem-settings">
					<button class="btn btn-inverse btn-small" ng-hide="$first" ng-click="ctrl.movePlaylistItemUp(playlistItem)">
						<i class="fa fa-arrow-up"></i>
					</button>
					<button class="btn btn-inverse btn-small" ng-hide="$last" ng-click="ctrl.movePlaylistItemDown(playlistItem)">
						<i class="fa fa-arrow-down"></i>
					</button>
					<button class="btn btn-inverse btn-small" ng-click="ctrl.removePlaylistItem(playlistItem)">
						<i class="fa fa-remove"></i>
					</button>
				</td>
			</tr>
			<tr ng-if="ctrl.playlistItems.length === 0">
				<td><em>播放列表为空，请在下面添加仪表板。</em></td>
			</tr>
		</table>
	</div>

	<div class="gf-form-group">
		<h3 class="page-headering">添加仪表盘</h3>
		<playlist-search class="playlist-search-container" search-started="ctrl.searchStarted(promise)"></playlist-search>

		<div ng-if="ctrl.filteredDashboards.length > 0">
			<table class="filter-table playlist-available-list">
				<tr ng-repeat="playlistItem in ctrl.filteredDashboards">
					<td>
						<i class="gicon gicon-dashboard"></i>
						&nbsp;&nbsp;{{playlistItem.title}}
						<i class="fa fa-star" ng-show="playlistItem.isStarred"></i>
					</td>
					<td class="add-dashboard">
						<button class="btn btn-inverse btn-small pull-right" ng-click="ctrl.addPlaylistItem(playlistItem)">
							<i class="fa fa-plus"></i>
							添加到播放列表
						</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="playlist-search-results-container" ng-if="ctrl.filteredTags.length > 0;">
			<table class="filter-table playlist-available-list">
				<tr ng-repeat="tag in ctrl.filteredTags">
					<td>
						<a class="search-result-tag label label-tag" tag-color-from-name="tag.term">
							<i class="fa fa-tag"></i>
							<span>{{tag.term}} &nbsp;({{tag.count}})</span>
						</a>
					</td>
					<td class="add-dashboard">
						<button class="btn btn-inverse btn-small pull-right" ng-click="ctrl.addTagPlaylistItem(tag)">
							<i class="fa fa-plus"></i>
							添加到播放列表
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="gf-form-button-row">
		<a class="btn btn-primary" ng-show="ctrl.isNew" ng-disabled="ctrl.playlistEditForm.$invalid || ctrl.isPlaylistEmpty()" ng-click="ctrl.savePlaylist(ctrl.playlist, ctrl.playlistItems)">创建</a>
		<a class="btn btn-primary" ng-show="!ctrl.isNew" ng-disabled="ctrl.playlistEditForm.$invalid || ctrl.isPlaylistEmpty()" ng-click="ctrl.savePlaylist(ctrl.playlist, ctrl.playlistItems)">保存</a>
		<a class="btn-text" ng-click="ctrl.backToList()">取消</a>
	</div>
</div>

<footer />
