<query-editor-row query-ctrl="ctrl" has-text-edit-mode="true">

  <div ng-if="ctrl.target.rawQuery">
    <div class="gf-form-inline">
      <div class="gf-form gf-form--grow">
        <code-editor content="ctrl.target.rawSql" datasource="ctrl.datasource" on-change="ctrl.panelCtrl.refresh()" data-mode="sql">
        </code-editor>
      </div>
    </div>
  </div>

  <div ng-if="!ctrl.target.rawQuery">
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-6">FROM</label>
        <metric-segment segment="ctrl.tableSegment" get-options="ctrl.getTableSegments()" on-change="ctrl.tableChanged()"></metric-segment>

        <label class="gf-form-label query-keyword width-7">时间列</label>
        <metric-segment segment="ctrl.timeColumnSegment" get-options="ctrl.getTimeColumnSegments()" on-change="ctrl.timeColumnChanged()"></metric-segment>

        <label class="gf-form-label query-keyword width-9">
          衡量指标列
          <info-popover mode="right-normal">要用作值列的度量名称的列。</info-popover>
        </label>
        <metric-segment segment="ctrl.metricColumnSegment" get-options="ctrl.getMetricColumnSegments()" on-change="ctrl.metricColumnChanged()"></metric-segment>
      </div>

      <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>

    </div>

    <div class="gf-form-inline" ng-repeat="selectParts in ctrl.selectParts">
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-6">
          <span ng-show="$index === 0">SELECT</span>&nbsp;
        </label>
      </div>

      <div class="gf-form" ng-repeat="part in selectParts">
        <sql-part-editor class="gf-form-label sql-part" part="part" handle-event="ctrl.handleSelectPartEvent(selectParts, part, $event)">
        </sql-part-editor>
      </div>

      <div class="gf-form">
        <label class="dropdown"
                dropdown-typeahead2="ctrl.selectMenu"
                dropdown-typeahead-on-select="ctrl.addSelectPart(selectParts, $item, $subItem)"
                button-template-class="gf-form-label query-part"
                >
        </label>
      </div>

      <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>
    </div>

    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-6">WHERE</label>
      </div>

      <div class="gf-form" ng-repeat="part in ctrl.whereParts">
        <sql-part-editor class="gf-form-label sql-part" part="part" handle-event="ctrl.handleWherePartEvent(ctrl.whereParts, part, $event, $index)">
        </sql-part-editor>
      </div>

      <div class="gf-form">
        <metric-segment segment="ctrl.whereAdd" get-options="ctrl.getWhereOptions()" on-change="ctrl.addWhereAction(part, $index)"></metric-segment>
      </div>

      <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>

    </div>

    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-6">
          <span>GROUP BY</span>
        </label>

        <sql-part-editor  ng-repeat="part in ctrl.groupParts"
                            part="part" class="gf-form-label sql-part"
                            handle-event="ctrl.handleGroupPartEvent(part, $index, $event)">
        </sql-part-editor>
      </div>

      <div class="gf-form">
        <metric-segment segment="ctrl.groupAdd" get-options="ctrl.getGroupOptions()" on-change="ctrl.addGroupAction(part, $index)"></metric-segment>
      </div>

      <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>
    </div>

  </div>

  <div class="gf-form-inline">
    <div class="gf-form">
      <label class="gf-form-label query-keyword">格式为</label>
      <div class="gf-form-select-wrapper">
        <select class="gf-form-input gf-size-auto" ng-model="ctrl.target.format" ng-options="f.value as f.text for f in ctrl.formats" ng-change="ctrl.refresh()"></select>
      </div>
    </div>
    <div class="gf-form">
      <label class="gf-form-label query-keyword pointer" ng-click="ctrl.toggleEditorMode()" ng-show="ctrl.panelCtrl.panel.type !== 'table'">
        <span ng-show="ctrl.target.rawQuery">查询生成器</span>
        <span ng-hide="ctrl.target.rawQuery">编辑SQL</span>
      </label>
    </div>
    <div class="gf-form">
      <label class="gf-form-label query-keyword pointer" ng-click="ctrl.showHelp = !ctrl.showHelp">
        显示帮助
        <i class="fa fa-caret-down" ng-show="ctrl.showHelp"></i>
        <i class="fa fa-caret-right" ng-hide="ctrl.showHelp"></i>
      </label>
    </div>
    <div class="gf-form" ng-show="ctrl.lastQueryMeta">
      <label class="gf-form-label query-keyword pointer" ng-click="ctrl.showLastQuerySQL = !ctrl.showLastQuerySQL">
        生成SQL
        <i class="fa fa-caret-down" ng-show="ctrl.showLastQuerySQL"></i>
        <i class="fa fa-caret-right" ng-hide="ctrl.showLastQuerySQL"></i>
      </label>
    </div>
    <div class="gf-form gf-form--grow">
      <div class="gf-form-label gf-form-label--grow"></div>
    </div>
  </div>

  <div class="gf-form" ng-show="ctrl.showLastQuerySQL">
    <pre class="gf-form-pre">{{ctrl.lastQueryMeta.sql}}</pre>
  </div>

  <div class="gf-form"  ng-show="ctrl.showHelp">
    <pre class="gf-form-pre alert alert-info">时间序列:
- 返回名为time（以UTC表示）的列，作为unix时间戳或任何sql本机日期数据类型。您可以使用下面的宏。
- 返回的任何其他列都将是时间点值。
可选的:
  - 返回名为<i>metric</i>的列以表示序列名。
  - 如果返回多个值列，则使用metric列作为前缀。
  - 如果未找到名为metric的列，则值列的列名将用作序列名

时间序列查询的结果集需要按时间排序。

表:
- 返回任意列集

宏命令:
- $__time(column) -&gt; UNIX_TIMESTAMP(column) as time_sec
- $__timeEpoch(column) -&gt; UNIX_TIMESTAMP(column) as time_sec
- $__timeFilter(column) -&gt; column BETWEEN FROM_UNIXTIME(1492750877) AND FROM_UNIXTIME(1492750877)
- $__unixEpochFilter(column) -&gt;  time_unix_epoch &gt; 1492750877 AND time_unix_epoch &lt; 1492750877
- $__unixEpochNanoFilter(column) -&gt;  column &gt;= 1494410783152415214 AND column &lt;= 1494497183142514872
- $__timeGroup(column,'5m'[, fillvalue]) -&gt; cast(cast(UNIX_TIMESTAMP(column)/(300) as signed)*300 as signed)
     by setting fillvalue grafana will fill in missing values according to the interval
     fillvalue can be either a literal value, NULL or previous; previous will fill in the previous seen value or NULL if none has been seen yet
- $__timeGroupAlias(column,'5m') -&gt; cast(cast(UNIX_TIMESTAMP(column)/(300) as signed)*300 as signed) AS "time"
- $__unixEpochGroup(column,'5m') -&gt; column DIV 300 * 300
- $__unixEpochGroupAlias(column,'5m') -&gt; column DIV 300 * 300 AS "time"

使用 $__timeGroup进行分组和排序的示例:
SELECT
  $__timeGroupAlias(timestamp_col, '1h'),
  sum(value_double) as value
FROM yourtable
GROUP BY 1
ORDER BY 1

或者使用这些只返回值的宏来构建自己的条件语句:
- $__timeFrom() -&gt; FROM_UNIXTIME(1492750877)
- $__timeTo() -&gt;  FROM_UNIXTIME(1492750877)
- $__unixEpochFrom() -&gt;  1492750877
- $__unixEpochTo() -&gt;  1492750877
- $__unixEpochNanoFrom() -&gt;  1494410783152415214
- $__unixEpochNanoTo() -&gt;  1494497183142514872
    </pre>
  </div>

  </div>

  <div class="gf-form" ng-show="ctrl.lastQueryError">
    <pre class="gf-form-pre alert alert-error">{{ctrl.lastQueryError}}</pre>
  </div>

</query-editor-row>
