<page-header model="navModel"></page-header>

<div class="page-container page-body" ng-form="playlistEditForm">
	<h3 class="page-sub-heading">
		创建组织
	</h3>

	<p class="playlist-description">每个组织都包含自己的仪表板、数据源和配置，不能在组织之间共享。虽然用户可能属于多个组织，但多租户部署中最常用多个组织。 </p>

	<form>
		<div class="gf-form-group">
			<div class="gf-form">
				<span class="gf-form-label width-10">组织名称</span>
				<input type="text" ng-model="newOrg.name" required class="gf-form-input max-width-21" placeholder="organization name">
			</div>
			<br>
			<div class="gf-form-buttons-row">
				<button type="submit" class="btn btn-primary" ng-click="createOrg()">创建</button>
			</div>
		</div>
	</form>
</div>

<footer />
