<page-header model="navModel"></page-header>

<div class="page-container page-body">

	<div class="signup">
		<div class="login-form">

			<div class="modal-tagline">
				由于公开邀请，您已被添加到其他组织！

				请选择您想要的组织 <br>
				立即使用（您可以稍后随时更改）。
			</div>

			<div style="display: inline-block; width: 400px; margin: 30px 0">
				<div ng-repeat="org in orgs">
					<a ng-click="setUsingOrg(org)" class="btn btn-primary">
						{{org.name}} ({{org.role}})
					</a>
				</div>
			</div>
		</div>
	</div>
</div>


<footer />
