<div class="dashboard-list">
  <div class="page-action-bar page-action-bar--narrow" ng-hide="ctrl.folderId && !ctrl.hasFilters && ctrl.sections.length === 0">
    <label class="gf-form gf-form--grow gf-form--has-input-icon">
      <input type="text" class="gf-form-input max-width-30" placeholder="Find Dashboard by name" tabindex="1" give-focus="true" ng-model="ctrl.query.query" ng-model-options="{ debounce: 500 }" spellcheck='false' ng-change="ctrl.onQueryChange()" />
      <i class="gf-form-input-icon fa fa-search"></i>
    </label>
    <div class="page-action-bar__spacer"></div>
    <a class="btn btn-primary" ng-href="{{ctrl.createDashboardUrl()}}" ng-if="ctrl.hasEditPermissionInFolders || ctrl.canSave">
      创建仪表盘
    </a>
    <a class="btn btn-inverse" href="dashboards/folder/new" ng-if="!ctrl.folderId && ctrl.isEditor">
      创建文件夹
    </a>
    <a class="btn btn-inverse" href="{{ctrl.importDashboardUrl()}}" ng-if="ctrl.hasEditPermissionInFolders || ctrl.canSave">
      导入
    </a>
  </div>

  <div class="page-action-bar page-action-bar--narrow" ng-show="ctrl.hasFilters">
    <div class="gf-form-inline">
      <div class="gf-form" ng-show="ctrl.query.tag.length > 0">
        <label class="gf-form-label width-4">
          标签
        </label>
        <div class="gf-form-input gf-form-input--plaintext" ng-show="ctrl.query.tag.length > 0">
          <span ng-repeat="tagName in ctrl.query.tag">
            <a ng-click="ctrl.removeTag(tagName, $event)" tag-color-from-name="tagName" class="tag label label-tag">
              <i class="fa fa-remove"></i>&nbsp;{{tagName}}
            </a>
          </span>
        </div>
      </div>
      <div class="gf-form" ng-show="ctrl.query.starred">
        <label class="gf-form-label">
          <a class="pointer" ng-click="ctrl.removeStarred()">
            <i class="fa fa-fw fa-check"></i> 星号
          </a>
        </label>
      </div>
      <div class="gf-form">
        <label class="gf-form-label">
          <a class="pointer" ng-click="ctrl.clearFilters()" bs-tooltip="'清除当前搜索查询和筛选'">
            <i class="fa fa-remove"></i>&nbsp;清除
          </a>
        </label>
      </div>
    </div>
  </div>

  <div class="search-results" ng-show="ctrl.hasFilters && ctrl.sections.length === 0">
    <em class="muted">
        没有找到与查询匹配的仪表板。
    </em>
  </div>

	<div class="search-results" ng-show="!ctrl.folderId && !ctrl.hasFilters && ctrl.sections.length === 0">
    <em class="muted">
        找不到仪表板。
    </em>
  </div>

  <div class="search-results" ng-show="ctrl.sections.length > 0">
    <div class="search-results-filter-row">
      <gf-form-checkbox
        on-change="ctrl.onSelectAllChanged()"
        checked="ctrl.selectAllChecked"
        switch-class="gf-form-checkbox--transparent"
      />
      <div class="search-results-filter-row__filters">
        <div class="gf-form-select-wrapper" ng-show="!(ctrl.canMove || ctrl.canDelete)">
          <select
            class="search-results-filter-row__filters-item gf-form-input"
            ng-model="ctrl.selectedStarredFilter"
            ng-options="t.text disable when t.disabled for t in ctrl.starredFilterOptions"
            ng-change="ctrl.onStarredFilterChange()"
          />
        </div>
        <div class="gf-form-select-wrapper" ng-show="!(ctrl.canMove || ctrl.canDelete)">
          <select
            class="search-results-filter-row__filters-item gf-form-input"
            ng-model="ctrl.selectedTagFilter"
            ng-options="t.term disable when t.disabled for t in ctrl.tagFilterOptions"
            ng-change="ctrl.onTagFilterChange()"
          />
        </div>
        <div class="gf-form-button-row" ng-show="ctrl.canMove || ctrl.canDelete">
          <button	type="button"
            class="btn gf-form-button btn-inverse"
            ng-disabled="!ctrl.canMove"
            ng-click="ctrl.moveTo()"
            bs-tooltip="ctrl.canMove ? '' : '选择要移动的仪表板(不能移动文件夹)'"
            data-placement="bottom">
          <i class="fa fa-exchange"></i>&nbsp;&nbsp;移动
          </button>
          <button type="button"
            class="btn gf-form-button btn-danger"
            ng-click="ctrl.delete()"
            ng-disabled="!ctrl.canDelete">
            <i class="fa fa-trash"></i>&nbsp;&nbsp;删除
          </button>
        </div>
      </div>
    </div>
    <div class="search-results-container">
      <dashboard-search-results
        results="ctrl.sections"
        editable="true"
        on-selection-changed="ctrl.selectionChanged()"
        on-tag-selected="ctrl.filterByTag($tag)"
      />
    </div>
  </div>

</div>

<div ng-if="ctrl.canSave && ctrl.folderId && !ctrl.hasFilters && ctrl.sections.length === 0">
  <empty-list-cta 
    title="'此文件夹还没有任何仪表板'"
    buttonIcon="'gicon gicon-dashboard-new'" 
    buttonLink="'dashboard/new?folderId={{ctrl.folderId}}'"
    buttonTitle="'创建仪表盘'"  
    proTip="'将仪表板添加/移动到文件夹 ->'" 
    proTipLink="'dashboards'" 
    proTipLinkTitle="'管理仪表盘'" 
    proTipTarget=""
  />
</div>
