<div class="editor-row">

  <div class="grafana-info-box" ng-if="ctrl.panel.gauge.show">
    <h5>仪表板迁移</h5>
    <p>
      不推荐使用Singlestat面板中的仪表可视化。请迁移此面板以使用仪表板

      <div class="gf-form-button-row">
        <button class="btn btn-primary" ng-click="ctrl.migrateToGaugePanel(true)">
          迁移到仪表板
        </button>
        <button class="btn btn-inverse" ng-click="ctrl.migrateToGaugePanel(false)">
          显示为单个状态
        </button>
      </div>

      <br/>

      <div ng-if="ctrl.panel.sparkline.show">
        <b>注:</b> 仪表板中不支持迷你图
      </div>

      <div ng-if="ctrl.panel.prefix">
        <b>注:</b> 仪表板上不会显示前缀
      </div>

      <div ng-if="ctrl.panel.postfix">
        <b>注:</b> 定位点不会显示在仪表板上
      </div>

      <div ng-if="ctrl.panel.links && ctrl.panel.links.length">
        <b>注:</b> 链接将位于左上角，而不是仪表上的任何位置
      </div>
    </p>
  </div>


  <div class="section gf-form-group">
    <h5 class="section-heading">值</h5>

    <div class="gf-form-inline">
      <div class="gf-form" ng-if="ctrl.fieldNames.length > 1">
        <label class="gf-form-label width-6">字段</label>
        <div class="gf-form-select-wrapper width-12">
          <select class="gf-form-input" ng-model="ctrl.panel.tableColumn" ng-options="f for f in ctrl.fieldNames" ng-change="ctrl.refresh()"></select>
        </div>
      </div>
    </div>
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label width-6">显示</label>
        <div class="gf-form-select-wrapper width-12">
          <select class="gf-form-input" ng-model="ctrl.panel.valueName" ng-options="f.value as f.text for f in ctrl.valueNameOptions" ng-change="ctrl.refresh()"></select>
        </div>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-6">字体大小</label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input" ng-model="ctrl.panel.valueFontSize" ng-options="f for f in ctrl.fontSizes" ng-change="ctrl.render()"></select>
        </div>
      </div>
    </div>

    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label width-6">前缀</label>
        <input type="text" class="gf-form-input width-12" ng-model="ctrl.panel.prefix" ng-change="ctrl.render()" ng-model-onblur>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-6">字体大小</label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input" ng-model="ctrl.panel.prefixFontSize" ng-options="f for f in ctrl.fontSizes" ng-change="ctrl.render()" ng-disabled="!ctrl.canModifyText()"></select>
        </div>
      </div>
    </div>
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label width-6">后缀</label>
        <input type="text" class="gf-form-input width-12" ng-model="ctrl.panel.postfix" ng-change="ctrl.render()" ng-model-onblur>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-6">字体大小</label>
        <div class="gf-form-select-wrapper">
          <select class="input-small gf-form-input" ng-model="ctrl.panel.postfixFontSize" ng-options="f for f in ctrl.fontSizes" ng-change="ctrl.render()" ng-disabled="!ctrl.canModifyText()"></select>
        </div>
      </div>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-6">单位</label>
      <unit-picker onChange="ctrl.setUnitFormat()" value="ctrl.panel.format" width="18" />
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-6">小数位</label>
      <input type="number" class="gf-form-input width-18" placeholder="自动" data-placement="right" bs-tooltip="'覆盖图例和工具提示的自动小数位精度'" ng-model="ctrl.panel.decimals" ng-change="ctrl.refresh()" ng-model-onblur>
    </div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">着色</h5>
    <div class="gf-form-inline">
      <gf-form-switch class="gf-form" label-class="width-8" label="背景" checked="ctrl.panel.colorBackground" on-change="ctrl.render()"></gf-form-switch>
      <gf-form-switch class="gf-form" label-class="width-6" label="值" checked="ctrl.panel.colorValue" on-change="ctrl.render()"></gf-form-switch>
    </div>
    <div class="gf-form-inline">
      <gf-form-switch class="gf-form" label-class="width-8" label="前缀" checked="ctrl.panel.colorPrefix" on-change="ctrl.render()" ng-disabled="!ctrl.canModifyText()"></gf-form-switch>
      <gf-form-switch class="gf-form" label-class="width-6" label="后缀" checked="ctrl.panel.colorPostfix" on-change="ctrl.render()" ng-disabled="!ctrl.canModifyText()"></gf-form-switch>
    </div>
    <div class="gf-form-inline">
      <div class="gf-form max-width-21">
        <label class="gf-form-label width-8">阈值
          <tip>定义两个阈值&lt;br /&gt; 50,80 将产生: 值 &lt; 50 = 绿色, 50 &lt;= 值 &lt; 80 = 黄色, 值 &gt;= 80 = 红色</tip>
        </label>
        <input type="text" class="gf-form-input" ng-model="ctrl.panel.thresholds" ng-blur="ctrl.render()" placeholder="50,80"></input>
      </div>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-8">颜色</label>
      <span class="gf-form-label" ng-repeat="color in ctrl.panel.colors track by $index">
        <color-picker color="color" onChange="ctrl.onColorChange($index)"></color-picker>
      </span>
      <span class="gf-form-label">
        <a  ng-click="ctrl.invertColorOrder()">
          使转化
        </a>
      </span>
    </div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Spark lines</h5>
    <gf-form-switch class="gf-form" label-class="width-9" label="Show" checked="ctrl.panel.sparkline.show" on-change="ctrl.refresh()"></gf-form-switch>
    <div ng-if="ctrl.panel.sparkline.show">
      <gf-form-switch class="gf-form" label-class="width-9" label="Full height" checked="ctrl.panel.sparkline.full" on-change="ctrl.render()"></gf-form-switch>
      <div class="gf-form">
        <label class="gf-form-label width-9">Y-最小值</label>
        <input type="number" class="gf-form-input width-5" placeholder="auto" data-placement="right" ng-model="ctrl.panel.sparkline.ymin" ng-change="ctrl.render()" ng-model-onblur empty-to-null>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-9">Y-最大值</label>
        <input type="number" class="gf-form-input width-5" placeholder="auto" data-placement="right" ng-model="ctrl.panel.sparkline.ymax" ng-change="ctrl.render()" ng-model-onblur empty-to-null>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-9">线条颜色</label>
        <span class="gf-form-label">
          <color-picker color="ctrl.panel.sparkline.lineColor" onChange="ctrl.onSparklineColorChange"></color-picker>
        </span>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-9">填充颜色</label>
        <span class="gf-form-label">
          <color-picker color="ctrl.panel.sparkline.fillColor" onChange="ctrl.onSparklineFillChange"></color-picker>
        </span>
      </div>
    </div>
  </div>

  <div class="section gf-form-group" ng-if="ctrl.panel.gauge.show">
    <h5 class="section-heading">仪表</h5>
    <gf-form-switch class="gf-form" label-class="width-10" switch-class="max-width-6" label="Show" checked="ctrl.panel.gauge.show" on-change="ctrl.render()"></gf-form-switch>
    <div ng-if="ctrl.panel.gauge.show">
      <div class="gf-form">
        <label class="gf-form-label width-10">最小值</label>
        <input type="number" class="gf-form-input width-6" placeholder="0" data-placement="right" ng-model="ctrl.panel.gauge.minValue" ng-change="ctrl.refresh()" ng-model-onblur>
        <label class="gf-form-label alert-state-critical" ng-show="ctrl.invalidGaugeRange">
          &nbsp; <i class="fa fa-warning"></i>
          最小值大于最大值。
        </label>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-10">最大值</label>
        <input type="number" class="gf-form-input width-6" placeholder="0" data-placement="right" ng-model="ctrl.panel.gauge.maxValue" ng-change="ctrl.refresh()" ng-model-onblur>
      </div>
      <gf-form-switch class="gf-form" label-class="width-10" switch-class="max-width-6" label="Threshold labels" checked="ctrl.panel.gauge.thresholdLabels" on-change="ctrl.render()"></gf-form-switch>
      <gf-form-switch class="gf-form" label-class="width-10" switch-class="max-width-6" label="Threshold markers" checked="ctrl.panel.gauge.thresholdMarkers" on-change="ctrl.render()"></gf-form-switch>
    </div>
  </div>
</div>
