<div class="editor-row">
  <div class="gf-form-group">
    <div class="gf-form">
        <span class="gf-form-label">
          类型
        </span>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input" ng-model="ctrl.panel.mappingType"
                                                        ng-options="f.value as f.name for f in ctrl.panel.mappingTypes" ng-change="ctrl.refresh()"></select>
        </div>
    </div>
  </div>
</div>
<div class="editor-row" ng-if="ctrl.panel.mappingType==1">
  <h5 class="section-heading">集值映射</h5>
  <div class="gf-form-group">
    <div class="gf-form" ng-repeat="map in ctrl.panel.valueMaps">
      <span class="gf-form-label">
        <i class="fa fa-remove pointer" ng-click="ctrl.removeValueMap(map)"></i>
      </span>
      <input type="text" ng-model="map.value" placeholder="value" class="gf-form-input max-width-6" ng-blur="ctrl.refresh()">
      <span class="gf-form-label">
        <i class="fa fa-arrow-right"></i>
      </span>
      <input type="text" placeholder="text" ng-model="map.text" class="gf-form-input max-width-8" ng-blur="ctrl.refresh()">
    </div>

    <div class="gf-form-button-row">
      <button class="btn btn-inverse" ng-click="ctrl.addValueMap();">
        <i class="fa fa-plus"></i>
        添加值映射
      </button>
    </div>
  </div>
</div>
<div class="editor-row" ng-if="ctrl.panel.mappingType==2">
  <h5 class="section-heading">设置范围映射</h5>
  <div class="gf-form-group">
    <div class="gf-form" ng-repeat="rangeMap in ctrl.panel.rangeMaps">
        <span class="gf-form-label">
          <i class="fa fa-remove pointer" ng-click="ctrl.removeRangeMap(rangeMap)"></i>
        </span>
        <span class="gf-form-label">从</span>
        <input type="text" ng-model="rangeMap.from" class="gf-form-input max-width-6" ng-blur="ctrl.refresh()">
        <span class="gf-form-label">到</span>
        <input type="text" ng-model="rangeMap.to" class="gf-form-input max-width-6" ng-blur="ctrl.refresh()">
        <span class="gf-form-label">文本</span>
        <input type="text" ng-model="rangeMap.text" class="gf-form-input max-width-8" ng-blur="ctrl.refresh()">
    </div>

    <div class="gf-form-button-row">
      <button class="btn btn-inverse" ng-click="ctrl.addRangeMap()">
        <i class="fa fa-plus"></i>
        添加范围映射
      </button>
    </div>
  </div>
</div>
