<div class="gf-form-group">
  <div class="gf-form">
    <h6>TLS身份验证详细信息</h6>
    <info-popover mode="header">TLS证书被加密并存储在Grafana数据库中。</info-popover>
  </div>
  <div ng-if="current.jsonData.tlsAuthWithCACert">
    <div class="gf-form-inline">
      <div class="gf-form gf-form--v-stretch"><label class="gf-form-label width-7">CA证书</label></div>
      <div class="gf-form gf-form--grow" ng-if="!current.secureJsonFields.tlsCACert">
         <textarea
           rows="7"
           class="gf-form-input gf-form-textarea"
           ng-model="current.secureJsonData.tlsCACert"
           placeholder="开始于-----开始证书-----"
         ></textarea>
      </div>

      <div class="gf-form" ng-if="current.secureJsonFields.tlsCACert">
        <input type="text" class="gf-form-input max-width-12" disabled="disabled" value="configured" />
        <a class="btn btn-secondary gf-form-btn" href="#" ng-click="current.secureJsonFields.tlsCACert = false">重置</a>
      </div>
    </div>
  </div>

  <div ng-if="current.jsonData.tlsAuth">
    <div class="gf-form-inline">
      <div class="gf-form gf-form--v-stretch"><label class="gf-form-label width-7">客户端证书</label></div>
      <div class="gf-form gf-form--grow" ng-if="!current.secureJsonFields.tlsClientCert">
         <textarea
           rows="7"
           class="gf-form-input gf-form-textarea"
           ng-model="current.secureJsonData.tlsClientCert"
           placeholder="开始于-----开始证书-----"
           required
         ></textarea>
      </div>
      <div class="gf-form" ng-if="current.secureJsonFields.tlsClientCert">
        <input type="text" class="gf-form-input max-width-12" disabled="disabled" value="configured" />
        <a class="btn btn-secondary gf-form-btn" href="#" ng-click="current.secureJsonFields.tlsClientCert = false"
        >重置</a
        >
      </div>
    </div>

    <div class="gf-form-inline">
      <div class="gf-form gf-form--v-stretch"><label class="gf-form-label width-7">客户端密钥</label></div>
      <div class="gf-form gf-form--grow" ng-if="!current.secureJsonFields.tlsClientKey">
         <textarea
           rows="7"
           class="gf-form-input gf-form-textarea"
           ng-model="current.secureJsonData.tlsClientKey"
           placeholder="开始于-----开始RSA私有密钥-----"
           required
         ></textarea>
      </div>
      <div class="gf-form" ng-if="current.secureJsonFields.tlsClientKey">
        <input type="text" class="gf-form-input max-width-12" disabled="disabled" value="configured" />
        <a class="btn btn-secondary gf-form-btn" href="#" ng-click="current.secureJsonFields.tlsClientKey = false">重置</a>
      </div>
    </div>
  </div>
</div>
