<div class="edit-tab-content" ng-repeat="style in editor.panel.styles">
  <div class="section gf-form-group">
    <h5 class="section-heading">选项</h5>
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label width-12">应用于名为</label>
        <input type="text" placeholder="Name or regex" class="gf-form-input width-13" ng-model="style.pattern" bs-tooltip="'Specify regex using /my.*regex/ syntax'"
            bs-typeahead="editor.getColumnNames" ng-blur="editor.render()" data-min-length=0 data-items=100 ng-model-onblur
            data-placement="right">
      </div>
    </div>
    <div class="gf-form" ng-if="style.type !== 'hidden'">
      <label class="gf-form-label width-12">行标题</label>
      <input type="text" class="gf-form-input width-12" ng-model="style.alias" ng-change="editor.render()" ng-model-onblur placeholder="Override header label">
    </div>
    <gf-form-switch class="gf-form" label-class="width-12" label="Render value as link" checked="style.link" on-change="editor.render()"></gf-form-switch>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">类型</h5>

    <div class="gf-form">
      <label class="gf-form-label width-10">类型</label>
      <div class="gf-form-select-wrapper width-16">
        <select class="gf-form-input" ng-model="style.type" ng-options="c.value as c.text for c in editor.columnTypes" ng-change="editor.render()"></select>
      </div>
    </div>
    <div class="gf-form" ng-if="style.type === 'date'">
      <label class="gf-form-label width-10">数据格式</label>
      <gf-form-dropdown model="style.dateFormat" css-class="gf-form-input width-16" lookup-text="true"
        	get-options="editor.dateFormats" on-change="editor.render()" allow-custom="true">
      </gf-form-dropdown>
    </div>

    <div ng-if="style.type === 'string'">
      <gf-form-switch class="gf-form" label-class="width-10" ng-if="style.type === 'string'" label="Sanitize HTML" checked="style.sanitize"
          on-change="editor.render()"></gf-form-switch>
    </div>

    <div ng-if="style.type !== 'hidden'">
      <div class="gf-form">
        <label class="gf-form-label width-10">排列</label>
        <gf-form-dropdown model="style.align"
                          css-class="gf-form-input width-16"
                          lookup-text="true"
                          get-options="editor.alignTypes"
                          allow-custom="false"
                          on-change="editor.render()"
                          allow-custom="false"/>
      </div>
    </div>

    <div ng-if="style.type === 'string'">
      <gf-form-switch class="gf-form" label-class="width-10" ng-if="style.type === 'string'" label="保留格式" checked="style.preserveFormat"
          on-change="editor.render()"></gf-form-switch>
    </div>

    <div ng-if="style.type === 'number'">
      <div class="gf-form">
        <label class="gf-form-label width-10">单位</label>
        <unit-picker onChange="editor.setUnitFormat(style)" value="style.unit" width="16"></unit-picker>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-10">小数位</label>
        <input type="number" class="gf-form-input width-4" data-placement="right" ng-model="style.decimals" ng-change="editor.render()"
            ng-model-onblur>
      </div>
    </div>
  </div>

  <div class="section gf-form-group" ng-if="style.type === 'string'">
    <h5 class="section-heading">值映射</h5>
    <div class="editor-row">
      <div class="gf-form-group">
        <div class="gf-form">
          <span class="gf-form-label">
            类型
          </span>
          <div class="gf-form-select-wrapper">
            <select class="gf-form-input" ng-model="style.mappingType"
                      ng-options="c.value as c.text for c in editor.mappingTypes" ng-change="editor.render()"></select>
          </div>
        </div>
        <div class="gf-form-group" ng-if="style.mappingType==1">
          <div class="gf-form" ng-repeat="map in style.valueMaps">
            <span class="gf-form-label">
              <i class="fa fa-remove pointer" ng-click="editor.removeValueMap(style, $index)"></i>
            </span>
            <input type="text" class="gf-form-input max-width-6" ng-model="map.value" placeholder="Value" ng-blur="editor.render()">
            <label class="gf-form-label">
              <i class="fa fa-arrow-right"></i>
            </label>
            <input type="text" class="gf-form-input max-width-8" ng-model="map.text" placeholder="Text" ng-blur="editor.render()">
          </div>
          <div class="gf-form">
            <label class="gf-form-label">
              <a class="pointer" ng-click="editor.addValueMap(style)"><i class="fa fa-plus"></i></a>
            </label>
          </div>
        </div>
        <div class="gf-form-group" ng-if="style.mappingType==2">
          <div class="gf-form" ng-repeat="rangeMap in style.rangeMaps">
            <span class="gf-form-label">
              <i class="fa fa-remove pointer" ng-click="editor.removeRangeMap(style, $index)"></i>
            </span>
            <span class="gf-form-label">从</span>
            <input type="text" ng-model="rangeMap.from" class="gf-form-input max-width-6" ng-blur="editor.render()">
            <span class="gf-form-label">到</span>
            <input type="text" ng-model="rangeMap.to" class="gf-form-input max-width-6" ng-blur="editor.render()">
            <span class="gf-form-label">文本</span>
            <input type="text" ng-model="rangeMap.text" class="gf-form-input max-width-8" ng-blur="editor.render()">
          </div>
          <div class="gf-form">
            <label class="gf-form-label">
              <a class="pointer" ng-click="editor.addRangeMap(style)"><i class="fa fa-plus"></i></a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section gf-form-group" ng-if="['number', 'string'].indexOf(style.type) !== -1">
    <h5 class="section-heading">阈值</h5>
    <div class="gf-form">
      <label class="gf-form-label width-8">阈值
        <tip>逗号分隔值</tip>
      </label>
      <input type="text" class="gf-form-input width-10" ng-model="style.thresholds" placeholder="50,80" ng-blur="editor.render()"
        array-join>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-8">颜色模式</label>
      <div class="gf-form-select-wrapper width-10">
        <select class="gf-form-input" ng-model="style.colorMode" ng-options="c.value as c.text for c in editor.colorModes" ng-change="editor.render()"></select>
      </div>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-8">颜色</label>
      <span class="gf-form-label">
        <color-picker color="style.colors[0]" onChange="editor.onColorChange(style, 0)"></color-picker>
      </span>
      <span class="gf-form-label">
        <color-picker color="style.colors[1]" onChange="editor.onColorChange(style, 1)"></color-picker>
      </span>
      <span class="gf-form-label">
        <color-picker color="style.colors[2]" onChange="editor.onColorChange(style, 2)"></color-picker>
      </span>
      <div class="gf-form-label">
        <a class="pointer" ng-click="editor.invertColorOrder($index)">使转化</a>
      </div>
    </div>
  </div>

  <div class="section gf-form-group" ng-if="style.link">
    <h5 class="section-heading">链接</h5>
    <div class="gf-form">
      <label class="gf-form-label width-9">
        Url
        <info-popover mode="right-normal">
          <p>指定URL（相对或绝对）</p>
          <span>
            使用特殊变量指定单元格值：
            <br>
            <em>${__cell}</em> 指当前单元格值
            <br>
            <em>${__cell_n}</em> 指当前行中的第n列值。列索引从0开始。例如，
            <em>${__cell_1}</em> 指第二列的值。
            <br>
            <em>${__cell:raw}</em> 语法。默认情况下，值是URI编码的。如果该值是完整的URL，则可以使用
          </span>
        </info-popover>
      </label>
      <input type="text" class="gf-form-input width-29" ng-model="style.linkUrl" ng-blur="editor.render()" ng-model-onblur data-placement="right">
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-9">
        工具提示
        <info-popover mode="right-normal">
          <p>指定链接工具提示的文本。</p>
          <span>
              当用户将指针悬停在带有链接的单元格上时，将显示此标题。使用与URL相同的变量。
          </span>
        </info-popover>
      </label>
      <input type="text" class="gf-form-input width-29" ng-model="style.linkTooltip" ng-blur="editor.render()" ng-model-onblur
          data-placement="right">
    </div>
    <gf-form-switch class="gf-form" label-class="width-9" label="新标签中打开" checked="style.linkTargetBlank"></gf-form-switch>
  </div>

  <div class="clearfix"></div>
  <div class="gf-form-group">
    <button class="btn btn-danger btn-small" ng-click="editor.removeColumnStyle(style)">
      <i class="fa fa-trash"></i> 删除规则
    </button>
  </div>

  <hr>
</div>

<div class="gf-form-button-row">
  <button class="btn btn-inverse" ng-click="editor.addColumnStyle()">
    <i class="fa fa-plus"></i>&nbsp;添加列样式
  </button>
</div>

