<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">数据</h5>
    <div class="gf-form">
      <label class="gf-form-label width-10">表转换</label>
      <div class="gf-form-select-wrapper max-width-15">
        <select
          class="gf-form-input"
          ng-model="editor.panel.transform"
          ng-options="k as v.description for (k, v) in editor.transformers"
          ng-change="editor.transformChanged()"
        ></select>
      </div>
    </div>
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label width-10">列</label>
      </div>
      <div class="gf-form" ng-repeat="column in editor.panel.columns">
        <label class="gf-form-label">
          <i class="pointer fa fa-remove" ng-click="editor.removeColumn(column)"></i>
          <span>{{ column.text }}</span>
        </label>
      </div>
      <div class="gf-form" ng-show="editor.canSetColumns">
        <metric-segment
          segment="editor.addColumnSegment"
          get-options="editor.getColumnOptions()"
          on-change="editor.addColumn()"
        ></metric-segment>
      </div>
      <div class="gf-form" ng-hide="editor.canSetColumns">
        <label class="gf-form-label">
          自动
          <info-popover mode="right-normal" ng-if="editor.columnsHelpMessage">
            {{ editor.columnsHelpMessage }}
          </info-popover>
        </label>
      </div>
    </div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">分页</h5>
    <div class="gf-form">
      <label class="gf-form-label width-8">每页行数</label>
      <input
        type="number"
        class="gf-form-input width-7"
        placeholder="100"
        data-placement="right"
        ng-model="editor.panel.pageSize"
        ng-change="editor.render()"
        ng-model-onblur
      />
    </div>
    <div class="gf-form max-width-17">
      <label class="gf-form-label width-8">字体大小</label>
      <div class="gf-form-select-wrapper width-7">
        <select
          class="gf-form-input"
          ng-model="editor.panel.fontSize"
          ng-options="f for f in editor.fontSizes"
          ng-change="editor.render()"
        ></select>
      </div>
    </div>
  </div>
</div>
