
<div class="table-panel-container">
	<div class="table-panel-header-bg" ng-show="ctrl.table.rows.length"></div>
	<div class="table-panel-scroll" ng-show="ctrl.table.rows.length">
		<table class="table-panel-table">
			<thead>
				<tr>
					<th ng-repeat="col in ctrl.table.columns" ng-if="!col.hidden">
						<div class="table-panel-table-header-inner pointer" ng-click="ctrl.toggleColumnSort(col, $index)">
							{{col.title}}
							<span class="table-panel-table-header-controls" ng-if="col.sort">
								<i class="fa fa-caret-down" ng-show="col.desc"></i>
								<i class="fa fa-caret-up" ng-hide="col.desc"></i>
							</span>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
<div class="datapoints-warning" ng-show="ctrl.table.rows.length===0">
	<span class="small" >
		没有要显示的数据 <tip>数据查询未返回任何内容</tip>
	</span>
</div>
<div class="table-panel-footer">
</div>
